<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-dashboard" aria-hidden="true"></i> <cite>新增套餐</cite></li>
        </ul>
        <div class="layui-tab-item layui-show">
            <div class="conter">
                <div class="xxkt">
                    <ul>
                        <li class="xxkt_bt">新增套餐</li>
                    </ul>
                </div>
                <form action="__URL__/add" method="post" class="form-hotelAdd">
                    <div class="xxknr">
                        <div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券名称：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" name="title" placeholder="请填写电子券名称">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">封面图片：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <img id="LAY_demo_upload" style="display: none;" width="100px" height="100px" src="">
                                    <button name="file" style="margin-top:7px;" class="layui-btn test" type="button" lay-data="{url: '/index.php/Admin/AjaxPost/uploadOne', accept: 'images'}" >
                                        <i class="layui-icon">&#xe67c;</i>上传封面图片
                                    </button>
                                    <input name="pic" id="logo" type="hidden" value="">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券金额：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" name="money" placeholder="请填写电子券金额">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券开始日期：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input name="exprie_start" autocomplete="off" placeholder="选择开始时间" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券截止日期：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input name="exprie_end" autocomplete="off" placeholder="选择截止日期" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券库存：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" name="num" placeholder="请填写电子券库存">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券不可使用日期：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea style="width: 359px;height: 200px;min-height: 200px;" name="notDate"></textarea>
                                    <span style="color: red;">设置日期规则:月份-日期(如5-1),多个日期用回车进行分隔,系统会自动设置当前年份</span>
                                </div>
                            </div>
                            <div class="glylb_szmm "><span class="glylb_szmm_span">可以使用电子券的客房分类：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input type="checkbox" name="hcate" value="">
                                    <span style="color: red;">说明:想要某些房间可以使用电子券,只需勾选它的客房分类即可,在客房添加时选择该分类,系统会自动是</span>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">兑换所需积分：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" name="sorce" placeholder="请填写兑换所需积分">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">使用说明：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea class="layui-textarea" name="mark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gater">
                        <input type="hidden" name="__GO__" value="__URL__/index">
                        <input type="submit" value="确认" class="glylb_an_qd ajax-post" target-form="form-hotelAdd"/>
                        <a href="__URL__/index"><button class="glylb_an_fh" type="button">返回</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('upload', function(){
        var upload = layui.upload;
        upload.render({
            elem: '.test',
            done: function(res){
                $('#LAY_demo_upload').attr('src',res.data.src);
                $('#LAY_demo_upload').css('display','block');
                $('#logo').val(res.id);
            }
        })
    })
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
    })
</script>
