<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-dashboard" aria-hidden="true"></i> <cite>修改电子券</cite></li>
        </ul>
        <style>
            .house .houseCate{width: 100px;float: left;}
            .cates{display: block;margin-top: 7px;}
        </style>
        <div class="layui-tab-item layui-show">
            <div class="conter">
                <div class="xxkt">
                    <ul>
                        <li class="xxkt_bt">修改电子券</li>
                    </ul>
                </div>
                <form action="__URL__/edit" method="post" class="form-hotelAdd">
                    <div class="xxknr">
                        <div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券名称：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input disabled="disabled" class="fn-tinput requ" name="title" placeholder="请填写电子券名称" value="{$db.title}">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">封面图片：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <img id="LAY_demo_upload" width="100px" height="100px" src="{:getSrc($db['pic'])}">
                                    <!--<button name="file" style="margin-top:7px;" class="layui-btn test" type="button" lay-data="{url: '/index.php/Admin/AjaxPost/uploadOne', accept: 'images'}" >
                                        <i class="layui-icon">&#xe67c;</i>上传封面图片
                                    </button>-->
                                    <input name="pic" id="logo" type="hidden" value="{$db.pic}">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券金额：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input disabled="disabled" class="fn-tinput requ" name="money" placeholder="请填写电子券金额" value="{$db.money}">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券开始日期：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input disabled="disabled" name="exprie_start" autocomplete="off" placeholder="选择开始时间" class="layui-input test-item" type="text" value="{$db.exprie_start}">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券截止日期：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input disabled="disabled" name="exprie_end" autocomplete="off" placeholder="选择截止日期" class="layui-input test-item" type="text" value="{$db.exprie_end}">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券库存：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input disabled="disabled" class="fn-tinput requ" name="num" placeholder="请填写电子券库存" value="{$db.num}">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">电子券不可使用日期：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea style="width: 359px;max-width:359px;height: 200px;min-height: 200px;" name="notDate">{$db.notDate}</textarea>
                                    <span style="color: red;font-size: 18px;">规则:若只填写月份-日期(如5-1),系统会自动设置为当前年份,若想设置特定年份如2018-1-31,多个日期用回车进行分隔</span>
                                </div>
                            </div>
                            <div class="glylb_szmm house"><span class="glylb_szmm_span">可以使用电子券的客房分类：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <volist name="house" id="house">
                                        <div class="houseCate">
                                            <input disabled="disabled" style="width:auto;" <?php if(in_array($house['id'],$db['hcate'])){?> <?php echo 'checked=checked';}?> type="checkbox" name="hcate[]" value="{$house.id}"><span class="cates">{$house.title}</span>
                                        </div>
                                    </volist>
                                    <span style="color: red;font-size: 18px;">说明:想要某些房间可以使用电子券,只需勾选它的客房分类即可,在客房添加时选择该分类,系统会自动识别</span>
                                </div>
                            </div>
                            <div class="glylb_szmm house"><span class="glylb_szmm_span">可以使用电子券的套餐分类：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <volist name="package" id="package">
                                        <div class="houseCate">
                                            <input disabled="disabled" style="width:auto;" <?php if(in_array($package['id'],$db['tcate'])){?> <?php echo 'checked=checked';}?> type="checkbox" name="tcate[]" value="{$package.id}"><span class="cates">{$package.title}</span>
                                        </div>
                                    </volist>
                                    <span style="color: red;font-size: 18px;">说明:想要某些套餐可以使用电子券,只需勾选它的套餐分类即可,在套餐添加时选择该分类,系统会自动识别</span>
                                </div>
                            </div>
                            <div class="glylb_szmm house"><span class="glylb_szmm_span">可以使用兑换电子券的等级：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <volist name="grades" id="grade">
                                        <div class="houseCate">
                                            <input disabled="disabled" style="width:auto;" <?php if(in_array($grade['id'],$db['userLevel'])){?> <?php echo 'checked=checked';}?> type="checkbox" name="userLevel[]" value="{$grade.id}"><span class="cates">{$grade.title}</span>
                                        </div>
                                    </volist>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">兑换所需积分：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input disabled="disabled" class="fn-tinput requ" name="sorce" placeholder="请填写兑换所需积分" value="{$db.sorce}">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">使用说明：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea class="layui-textarea" name="mark">{$db.mark}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gater">
                        <input type="hidden" name="__GO__" value="__URL__/index">
                        <input type="hidden" name="id" value="{$db.id}">
                        <!--<input type="submit" value="确认" class="glylb_an_qd ajax-post" target-form="form-hotelAdd"/>-->
                        <a href="__URL__/index"><button class="glylb_an_fh" type="button">返回</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('upload', function(){
        var upload = layui.upload;
        upload.render({
            elem: '.test',
            done: function(res){
                $('#LAY_demo_upload').attr('src',res.data.src);
                $('#LAY_demo_upload').css('display','block');
                $('#logo').val(res.id);
            }
        })
    })
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
    })
</script>
