           
			<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
				<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
					<ul class="layui-tab-title">
						<li class="layui-this">
							<i class="fa fa-dashboard" aria-hidden="true"></i>
							<cite>提现记录</cite>
						</li>
					</ul>
                    
					<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
						<div class="layui-tab-item layui-show">
							 <div class="conter">
                                  <div class="conter_sait">
                                        <form  action="" class="form-postal">                
                                              <div class="wort">
                                              <div class="layui-input-inline">
                                                 <input name="startTime" id="date" autocomplete="off" placeholder="从2017-02-28时间" class="layui-input" onclick="layui.laydate({elem: this})" type="text" value="{:I('startTime')}">
                                             </div>
                                             </div>
                                             <div class="wort">
                                              <div class="layui-input-inline">至
                                               </div>
                                               </div>
                                               <div class="wort">
                                            <div class="layui-input-inline">
                                                 <input name="endTime" id="date" autocomplete="off" placeholder="到2017-02-28时间" class="layui-input" onclick="layui.laydate({elem: this})" type="text" value="{:I('endTime')}">
                                             </div>
                                             </div>
                                             
                                            <div class="wort">
                                                 <button type="submit" id="select" class="layui-btn">查找</button>
                                            </div>
                                             <div class="wort">
                                                <button type="submit" id="export" class="layui-btn layui-btn-normal">导出</button>
                                            </div> 
                                             <div class="wort">
                                                 <button type="button" class="layui-btn layui-btn-danger iframe" data-iframe="__URL__/index_add.html">申请提现</button>
                                            </div>                                      
                                        </form>
                                   </div>
                                
                                       
                                 <div class="botg">
                                   <table class="layui-table" >
                                                 <thead>
                                                      <tr>
                                                          <th>申请日期</th>
                                                          <th>提现金额</th>
                                                          <th>申请状态</th>
                                                          <th>订单明细</th>
                                                        </tr> 
                                                </thead>  
                                                <tbody>
                                                <volist name="db" id="data">
                                                    <tr>
                                                       <td>{$data.applydate}</td>
                                                       <td  class="cor_1 ">{$data.monery}</td>
                                                       <td class="cor_1 " style="color:<switch name="data.status">
                                                                                <case value='正在审核'>#009688</case> 
                                                                                <case value='通过'>#1E9FFF</case> 
                                                                                <default>#FF5722
                                                                                </switch>">{$data.status}</td>
                                                       <td><a class="z_coios_5" href="__URL__/index_edit/id/{$data.id}">查看</a> 
                                                       <a class="z_coios_4 iframe" data-iframe="__URL__/index_info/id/{$data.id}">提现说明</a>
                                                        <if condition="($data.status eq '失败')">
                                                         <a class="z_coios_6 iframe" data-iframe="__URL__/index_false/id/{$data.id}">退回原因</a> 
                                                        </if>
                                                       </td>
                                                      
                                                    </tr>
                                                </volist> 
                                                </tbody>
                                   </table>
                                   <div class="feniou">
                                                   <ul>
                                                      {$page}     
                                                   </ul>
                                  </div>

                                </div>
                             </div>
						</div>
					</div>
				</div>
			</div>
  <script>
    $('#export').click(function () {
        $(this).parents('.form-postal').attr('action', '__URL__/excel');
    })
    $('#select').click(function () {

        $(this).parents('.form-postal').attr('action', '__URL__/index');
    })
</script>      
