<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <cite>用户列表</cite>
            </li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <div class="conter">
                    <div class="conter_sait">
                        <form action="" method="post" class="form-user">

                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="startTime" value="{:I('startTime')}" id="date" autocomplete="off" placeholder="开始时间" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">至
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="endTime" value="{:I('endTime')}"autocomplete="off" placeholder="结束时间" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="wort" style="width:280px;">
                                <input name="title" value="{:I('title')}" lay-verify="title" autocomplete="off" placeholder="姓名/电话/身份证号" class="layui-input" type="text">
                            </div>
                            <div class="wort">
                                <button id="select" class="layui-btn">查找</button>
                            </div>
                            <div class="wort">
                                <button id="export" class="layui-btn layui-btn-normal">导出</button>
                            </div>

                        </form>
                    </div>

                    <div class="botg">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>真实姓名</th>
                                <th>身份号</th>
                                <th>性别</th>
                                <th>手机号</th>
                                <th>电子邮箱</th>
                                <th>余额</th>
                                <th>积分</th>
                                <th>登陆密码</th>
                                <th>注册时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="db" id="data">
                                <tr>
                                    <td>{$data.realname}</td>
                                    <td>{$data.idCard}</td>
                                    <td>{:$data['sex'] == '1' ? '男' : '女'}</td>
                                    <td>{$data.mobile}</td>
                                    <td>{$data.Email}</td>
                                    <td>{$data.money}</td>
                                    <td>{$data.sorce}</td>
                                    <td>{$data.no_md5}</td>
                                    <td>{$data.createTime|date='Y-m-d',###}</td>
                                    <td>
                                        <switch name="data.status">
                                            <case value="1"><a href="__URL__/set_status/set/1/id/{$row.id}" class="z_coios_1 ajax-get confirm" data-msg='您确定禁用？禁用后用户将无法登陆'>禁用</a></case>
                                            <case value="2"><a href="__URL__/set_status/set/2/id/{$row.id}" class="z_coios_2 ajax-get confirm" data-msg='您确定启用？'>启用</a></case>
                                        </switch>
                                        <a class="z_coios_4" href="__URL__/edit/id/{$data.id}">修改</a>
                                        <a class="z_coios_3 confirm ajax-get" href="__URL__/delUser/id/{$data.id}">删除</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="feniou">
                            <ul>
                                {$page}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //日期插件
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        //同时绑定多个
        lay('.test-item').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
            });
        });
    })
</script>