<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-dashboard" aria-hidden="true"></i> <cite>订单统计</cite></li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <div class="conter">
                    <div class="conter_sait">
                        <form action="">
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="start" autocomplete="off" placeholder="点击选择起始时间" class="layui-input" onclick="layui.laydate({elem: this})" type="text">
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">至</div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="end" autocomplete="off" placeholder="点击选择结束时间" class="layui-input" onclick="layui.laydate({elem: this})" type="text">
                                </div>
                            </div>
                            <div class="wort">
                                <select name="select" id="select" class="select_t">
                                    <option value="">房间类型</option>
                                    <volist name="type" id="type">
                                        <option value="{$type.roomName}">{$type.roomName}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="wort" style="width:280px;">
                                <input name="title" lay-verify="title" autocomplete="off" placeholder="请输入订单编号" class="layui-input" type="text">
                            </div>
                            <div class="wort">
                                <button type="submit" class="layui-btn">查找</button>
                            </div>
                            <div class="wort">
                                <a href="__URL__/export?{$info}"><button type="button" class="layui-btn layui-btn-normal">导出</button></a>
                            </div>
                        </form>
                    </div>
                    <div class="botg">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>订单编号</th>
                                    <th>日期</th>
                                    <th>房间类型</th>
                                    <th>交易金额</th>
                                </tr>
                            </thead>
                            <tbody>
                            <volist name="db" id="db">
                                <tr class="bnoku">
                                    <td>{$db.orderhotel_no}</td>
                                    <td>{$db.orderhotel_time|date_out=###}</td>
                                    <td>{$db.roomName}</td>
                                    <td class="cor_1 ">{$db.buy_money}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="feniou">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
