<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <cite>密码修改</cite>
            </li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <form action="__URL__/index" method="post" class="bl-form bl-formhor myform">
                    <div class="conter">
                        <div class="xxkt">
                            <ul>
                                <li class="xxkt_bt">密码修改</li>
                            </ul>
                        </div>
                        <div class="xxknr">
                            <div>
                                <div class="glylb_szmm">
                                    <span class="glylb_szmm_span">原始密码：</span>
                                    <div class="layui-input-block z_min_left_10">
                                        <input class="fn-tinput" type="password" name="oldpwd" value="" placeholder="请输入原密码">
                                    </div>
                                </div>

                                <div class="glylb_szmm">
                                    <span class="glylb_szmm_span">密码：</span>
                                    <div class="layui-input-block z_min_left_10">
                                        <input class="fn-tinput" type="password" name="password" value="" placeholder="请输入新密码" />
                                    </div>
                                </div>
                                <div class="glylb_szmm">
                                    <span class="glylb_szmm_span">确认密码：</span>
                                    <div class="layui-input-block z_min_left_10">
                                        <input class="fn-tinput" type="password" name="confirm_password" value="" placeholder="确认新密码" />
                                    </div>
                                </div>
                                <div class="glylb_an" style="margin-left:20%;">
                                    <input type="hidden" name="id" value="{$sid}" />
                                    <input type="submit" value="确认" class="glylb_an_qd ajax-post confirm" target-form="myform" data-msg='您确定修改吗？'/>
                                    <input type="button" value="取消" class="glylb_an_fh"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


             
