<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-dashboard" aria-hidden="true"></i> <cite>新增客房</cite></li>
        </ul>
        <div class="layui-tab-item layui-show">
            <div class="conter">
                <div class="xxkt">
                    <ul>
                        <li class="xxkt_bt">新增客房</li>
                    </ul>
                </div>
                <form action="__URL__/add" method="post" class="form-hotelAdd">
                    <div class="xxknr">
                        <div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">选择客房类型：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <select class="fn-tinput requ" name="category">
                                        <option value="">--请选择客房类型--</option>
                                        <volist name="cate" id="cates">
                                            <option value="{$cates.id}">{$cates.title}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">客房名称：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" name="name" placeholder="请填写客房名称">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">房间金额：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" type="text" name="money" placeholder="请输入房间金额">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">反还积分：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" type="text" name="sorce" placeholder="请输入反还积分">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">是否可以使用电子卷：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <select class="fn-tinput requ" name="paper">
                                        <option value="y">可用</option>
                                        <option value="n">不可用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">房间设备：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea class="layui-textarea" name="equipment"></textarea>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">房间描述：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea class="layui-textarea" name="mark"></textarea>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">订房须知：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea class="layui-textarea" name="back"></textarea>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">入住通知：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea class="layui-textarea" name="come"></textarea>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">更改订单：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea class="layui-textarea" name="change"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gater">
                        <input type="hidden" name="__GO__" value="__URL__/index">
                        <input type="submit" value="确认" class="glylb_an_qd ajax-post" target-form="form-hotelAdd"/>
                        <a href="__URL__/index"><button class="glylb_an_fh" type="button">返回</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
