<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-dashboard" aria-hidden="true"></i> <cite>新增级别</cite></li>
        </ul>
        <div class="layui-tab-item layui-show">
            <div class="conter">
                <div class="xxkt">
                    <ul>
                        <li class="xxkt_bt">新增级别</li>
                    </ul>
                </div>
                <form action="__URL__/insert" method="post" class="form-hotelAdd" enctype="multipart/form-data">
                    <div class="xxknr">
                        <div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">名称：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" name="title" placeholder="请填写级别名称">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">等级顺序：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input type="number" class="fn-tinput requ" name="sort" placeholder="请输入等级顺序" value="{$db.sort}">
                                    <span style="color: red;font-size: 17px;">特别注意：只能填写数字(最小为1)并且不能出现与已添加的等级顺序重复,数字越大代表等级越高,数字越小等级越低</span>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">需要达到的积分：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" name="sorce" placeholder="请填写所需积分">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">上传图片：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input type="hidden" name="pic" value="" class="uploadOne_data">
                                    <button type="button" lay-data="{url: '/index.php/Admin/AjaxPost/uploadOne', accept: 'images'}"  class="layui-btn uploadsOne" data-width="100" data-height="100">
                                        <i class="layui-icon">&#xe67c;</i>上传图片
                                    </button>
                                    <span style="color: red;">最佳:376*175px;</span>
                                    <div id="imgdiv">
                                        <img style="display:none;" width="100" height="100" src="" class="uploadOne_img"/>
                                    </div>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">详情介绍：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea class="layui-textarea" name="content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gater">
                        <input type="hidden" name="__GO__" value="__URL__/index">
                        <input type="submit" value="确认" class="glylb_an_qd ajax-post" target-form="form-hotelAdd"/>
                        <a href="__URL__/index"><input type="button" value="返回" class="glylb_an_fh" /></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

