<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
    <style>
        .xiopr ul li{width: 12%;}
        .xiopr ul li img{width: 80px;height: 80px;}

    </style>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <div class="conter">
                    <div class="xiopr">
                        <ul>
                            <li>
                                <img src="__PUBLIC__/Admin/images/pay/user.png">
                                <p>会员总数 ： <b style="color:#F00;">{$Count.user}</b></p>
                            </li>
                            <li>
                                <img src="__PUBLIC__/Admin/images/pay/status1.png">
                                <p>已支付订单 ： <b style="color:#F00;">{$Count.status1}</b></p>
                            </li>
                            <li><img src="__PUBLIC__/Admin/images/pay/status2.png" >
                                <p>已完成订单 ： <b style="color:#F00;">{$Count.status2}</b></p></li>
                            <li>
                                <img src="__PUBLIC__/Admin/images/pay/status3.png" >
                                <p>已超时订单 ： <b style="color:#F00;">{$Count.status3}</b></p>
                            </li>
                            <li>
                                <img src="__PUBLIC__/Admin/images/pay/status4.png" >
                                <p>已取消订单 ： <b style="color:#F00;">{$Count.status4}</b></p>
                            </li>
                            <!--<li>
                                <img src="__PUBLIC__/Admin/images/pay/status5.png" >
                                <p>退款审核中订单 ： <b style="color:#F00;">{$Count.status5}</b></p>
                            </li>-->
                            <li>
                                <img src="__PUBLIC__/Admin/images/pay/status6.png" >
                                <p>已退款订单 ： <b style="color:#F00;">{$Count.orderCompleteCount}</b></p>
                            </li>
                            <!--<li>
                                <img src="__PUBLIC__/Admin/images/pay/status7.png" >
                                <p>已驳回订单 ： <b style="color:#F00;">{$Count.status7}</b></p>
                            </li>-->
                            <li>
                                <img src="__PUBLIC__/Admin/images/pay/status8.png" >
                                <p>待付款订单 ： <b style="color:#F00;">{$Count.orderCompleteCount}</b></p>
                            </li>
                            <li>
                                <img src="__PUBLIC__/Admin/images/pay/status9.png" >
                                <p>已入住订单 ： <b style="color:#F00;">{$Count.orderCompleteCount}</b></p>
                            </li>
                        </ul>
                    </div>

                    <div class="botg">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>日期</th>
                                <th>收入</th>
                                <th>支出</th>
                                <th>沉淀</th>
                                <!--<th>操作</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="db" id="list">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="feniou">
                            <ul>
                                {$page}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>