<script src="__PUBLIC__/Admin/js/jquery-1.10.1.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script><!--最新版-->
<!--<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>-->
<script type="text/javascript" src="__PUBLIC__/Admin/common/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/datas/nav.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/js/data.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/index.js"></script>
<script type="text/javascript" src="__PUBLIC__/zyupload/zyupload-1.0.0.min.js"></script>