<!DOCTYPE html>

<html>
<include file="Public:head"/>
<body>
<include file="Public:js"/>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <div class="admin-login-box">
                <a class="logo" style="left: 0;" href="index.html">
                    <span style="font-size: 20px;">{$Think.session.config.webName}</span>
                </a>
                <!-- <div class="admin-side-toggle">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div> -->
            </div>
            <ul class="layui-nav admin-header-item">

                <li class="layui-nav-item">
                    <a href="javascript:;" class="admin-header-user">
                        <img src="{$Think.session.config.headUrl}"/>
                        <span>{$Think.session.root_user.name}</span>
                    </a>
                    <dl class="layui-nav-child">
                        <present name="Think.session.root_Pwd">
                            <dd>
                                <a href="/Admin/Pwd/index"><i class="fa fa-gear" aria-hidden="true"></i> 修改密码</a>
                            </dd>
                        </present>
                        <dd>
                            <a href="/Admin/Index/login"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
                        </dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav admin-header-item-mobile">
                <li class="layui-nav-item">
                    <a href="/Admin/Index/login"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black" id="admin-side">
        <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side">
            <ul class="layui-nav layui-nav-tree" lay-filter="demo">
                <volist name="Think.session.root_permRows" id="permRow">
                    <li class="layui-nav-item <?php if($_SESSION['ParentContor']==" 首页
                    "&&$permRow["perm_id"]==1){ echo "layui-this" ;}else
                    if($_SESSION['ParentContor']==$permRow['perm_type']){ echo "layui-nav-itemed";}?> ">
                    <if condition="$permRow.perm_id eq 1">
                        <a href="/Admin/Index/index">首页</a>
                        <else/>
                        <a href="javascript:;">{$permRow.perm_type}</a>
                        <dl class="layui-nav-child">
                            <volist name="permRow.subClass" id="subClass">
                                <dd
                                <?php if($_SESSION["Controller"]==$subClass["perm_url"]){echo "class='layui-this'"; }?>
                                >
                                <a href="/Admin/{$subClass.perm_url}/index">{$subClass.perm_type}</a></dd>
                            </volist>
                        </dl>
                    </if>
                    </li>
                </volist>
            </ul>
        </div>
    </div>

    {__CONTENT__}

    <div class="layui-footer footer footer-demo" id="admin-footer">
        <div class="layui-main">
            <p>2016 &copy;
                <a target="_blank">{$Think.session.config.webName}</a> LGPL license
            </p>
        </div>
    </div>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>
    <script>
        layui.use('layer', function () {
            var $ = layui.jquery,
                    layer = layui.layer;

            $('#video1').on('click', function () {
                layer.open({
                    title: 'YouTube',
                    maxmin: true,
                    type: 2,
                    content: 'video.html',
                    area: ['800px', '500px']
                });
            });
        });
        $('.admin-side-toggle').on('click', function () {
            var sideWidth = $('#admin-side').width();
            if (sideWidth === 200) {
                $('#admin-body').animate({
                    left: '0'
                }); //admin-footer
                $('#admin-footer').animate({
                    left: '0'
                });
                $('#admin-side').animate({
                    width: '0'
                });
            } else {
                $('#admin-body').animate({
                    left: '200px'
                });
                $('#admin-footer').animate({
                    left: '200px'
                });
                $('#admin-side').animate({
                    width: '200px'
                });
            }
        });
    </script>
</div>
</body>
</html>



