<div class="app_center">
    <div class="app_dister">
        <div class="app_x_img">
            <img src="__MOBILE__/img/tu@2x.png">
        </div>
        <div class="app_bist">
            <b>￥656</b>
            <span><a>订单号：</a>12345678945612</span>
        </div>
        <div class="app_tiahert">
            <h3>房型房型</h3>
            <p>简介：房型简介房型简介房型简介房型简介房型简介房型简介房型简介房型简介...型简介房型简介房型简介房型简介...型简介房型简介房型简介房型简介...</p>
        </div>
        <div class="app_himt">
            <span>入住时段：2017年11月8日-2017年11月10日</span>
        </div>
        <div class="app_himt">
            <span class="left">入住信息：王某某 </span>
            <span class="right">13245678912</span>
        </div>
        <div class="app_himt">
            <!--<a class="web_qzf left">去支付</a>
	 	<a class="web_tk left ">退款</a>-->
            <span class="right">已完成订单 </span>
        </div>
    </div>
</div>