<div class="app_center">
    <div class="barto">
        <div class="hort_cont">
            <a href="__URL__/edit" class="ritu_1">
                       <span class="left">订单号：12345678945612</span>
                       <span class="right">房型房型</span>
                  </a>
            <div class="ritu_2">
                <span class="left">2017年11月8日-2017年11月10日</span>
                <span class="right">待支付</span>
            </div>
            <div class="ritu_1">
                <a class="web_qzf left">去支付</a>
                <b class="right">￥2588</b>
            </div>
        </div>
        <div class="hort_cont">
            <a href="__URL__/edit" class="ritu_1">
                       <span class="left">订单号：12345678945612</span>
                       <span class="right">房型房型</span>
                  </a>
            <div class="ritu_2">
                <span class="left">2017年11月8日-2017年11月10日</span>
                <span class="right cor_4">已支付</span>
            </div>
            <div class="ritu_1">
                <a class="web_tk left ">退款</a>
                <b class="right">￥2588</b>
            </div>
        </div>
        <div class="hort_cont">
            <a href="__URL__/edit" class="ritu_1">
                       <span class="left">订单号：12345678945612</span>
                       <span class="right">房型房型</span>
                  </a>
            <div class="ritu_2">
                <span class="left">2017年11月8日-2017年11月10日</span>
                <span class="right cor_1">已完成</span>
            </div>
            <div class="ritu_1">
                <b class="right">￥2588</b>
            </div>
        </div>
        <div class="hort_cont">
            <a href="__URL__/edit" class="ritu_1">
                       <span class="left">订单号：12345678945612</span>
                       <span class="right">房型房型</span>
                  </a>
            <div class="ritu_2">
                <span class="left">2017年11月8日-2017年11月10日</span>
                <span class="right cor_2">已退款</span>
            </div>
            <div class="ritu_1">
                <b class="right">￥2588</b>
            </div>
        </div>
        <div class="hort_cont">
            <a href="__URL__/edit" class="ritu_1">
                       <span class="left">订单号：12345678945612</span>
                       <span class="right">房型房型</span>
                  </a>
            <div class="ritu_2">
                <span class="left">2017年11月8日-2017年11月10日</span>
                <span class="right cor_3">已取消</span>
            </div>
            <div class="ritu_1">
                <b class="right">￥2588</b>
            </div>
        </div>
    </div>
</div>