<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
          <ul class="layui-tab-title">
            <li class="layui-this">
              <i class="fa fa-dashboard" aria-hidden="true"></i>
              <cite>财务明细</cite>
            </li>
          </ul>
                    
          <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
               <div class="conter">
                                  <div class="conter_sait">
                                        <form  action="" method="post" class="form-post">                               
                                              <div class="wort">
                                              <div class="layui-input-inline">
                                                <input name="startTime" id="date" value="{:I('startTime')}" autocomplete="off" placeholder="从2017-02-28时间" class="layui-input" onclick="layui.laydate({elem: this})" type="text">
                                             </div>
                                             </div>
                                             <div class="wort">
                                              <div class="layui-input-inline">至
                                               </div>
                                               </div>
                                               <div class="wort">
                                            <div class="layui-input-inline">
                                                <input name="endTime" id="date" value="{:I('endTime')}" autocomplete="off" placeholder="到2017-02-28时间" class="layui-input" onclick="layui.laydate({elem: this})" type="text">
                                             </div>
                                             </div>  
                                          <div class="wort">
                                                 <button id="select" type="submit" class="layui-btn">查找</button>
                                            </div>
                                             
                                             <div class="wort">
                                                 <button id="export" type="submit"  class="layui-btn layui-btn-normal">导出</button>
                                            </div>
                                            
                                        </form>
                                   </div>
                                 <div class="botg">
                                   <table class="layui-table" >
                                                 <thead>
                                                      <tr>
                                                          <th>日期</th>
                                                          <th>总收入</th>
                                                          <th>总支出</th>
                                                          <th>操作</th>
                                                        </tr> 
                                                </thead>
                                                <tbody>
                                                  <volist name="db" id="data">
                                                    <tr>
                                                       <td>{$data.dateTime}</td>
                                                       <td class="cor_1">{$data.inAll}</td>
                                                       <td class="cor_1">{$data.outAll}</td>
                                                       <td><a class="z_coios_6" href="__URL__/detailed_edit/date/{$data.dateTime}">查看明细</a></td>
                                                    </tr>
                                                    </volist>
                                                </tbody>
                                   </table>
                                   <div class="feniou">
                                                   <ul>
                                                      {$page}     
                                                   </ul>
                                  </div>

                                </div>
                             </div>
            </div>
          </div>
        </div>
      </div>
<script>
    $('#export').click(function () {
        $(this).parents('.form-post').attr('action', '__URL__/export');
    })
    $('#select').click(function () {

        $(this).parents('.form-post').attr('action', '__URL__/index');
    })
</script>