{__NOLAYOUT__}
<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>酒店二维码管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="__PUBLIC__/Admin/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/global.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/Admin/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/css.css" media="all">
     
    
  </head>

	
                               
                 
                               
                               
                               
                               <div class="xz_lkop">修改管理员</div>    
                              <div class="conter">
                           <form action="__URL__/rootUpdeDo" method="post" class="form-root">
                                  <div class="ertob1">
                                       <div class="lista2">
                                             <div class="lista_left">管理员名称 ：
                                             </div>
                                             <div class="lista_right">
                                                 
                                                 <input type="text" value="{$row.infoname}" name="infoname" id="textfield" class="int_1 requ" placeholder="请输入名称">
                                             </div>
                                       </div>
                                      
                                  </div>                                
                                  <div class="ertob1">
                                       <div class="lista2">
                                             <div class="lista_left">登录账户 ：
                                             </div>
                                             <div class="lista_right">                                                 
                                                 <input type="text" value="{$row.name}" name="name" id="textfield" class="int_1 requ" placeholder="请输入登录账户">
                                             </div>
                                       </div>
                                      
                                  </div>
                                  <div class="ertob1">
                                       <div class="lista2">
                                             <div class="lista_left">密码 ：
                                             </div>
                                             <div class="lista_right">                                                 
                                                 <input type="password" name="pwd1" id="textfield" class="int_1 requ" placeholder="请输入密码">
                                             </div>
                                       </div>
                                      
                                  </div>
                                  <div class="ertob1">
                                       <div class="lista2">
                                             <div class="lista_left">确认密码 ：
                                             </div>
                                             <div class="lista_right">
                                                 
                                                 <input type="password" name="pwd2" id="textfield" class="int_1 requ" placeholder="请再次输入密码">
                                             </div>
                                       </div>
                                      
                                  </div>
                                   <div class="ertob1">
                                       <div class="lista2">
                                             <div class="lista_left">真实姓名 ：
                                             </div>
                                             <div class="lista_right">
                                                 
                                                 <input type="text" value="{$row.realname}" name="realname" id="textfield" class="int_1 requ" placeholder="真实姓名">
                                             </div>
                                       </div>
                                      
                                  </div>
                                  <div class="ertob1">
                                       <div class="lista2">
                                             <div class="lista_left">联系方式 ：
                                             </div>
                                             <div class="lista_right">                                                 
                                                 <input type="text" value="{$row.number}" name="number" id="textfield" class="int_1 requ" placeholder="请输入联系方式">
                                             </div>
                                       </div>
                                      
                                  </div>
                                  <div class="ertob1">
                                       <div class="lista2">
                                             <div class="lista_left">
                                             </div>
                                             <div class="lista_right">

                                                 <input type="hidden" value="{$row.pwd}" name="pwd"/>
                                                 <input type="hidden" value="{$row.id}" name="id" />
                                                 <input type="submit" value="确认" class="glylb_an_qd parent-ajax-post" target-form="form-root"/>
                                                 <input type="button" value="取消" onclick="javascript:history.back(-1);return false"  class="glylb_an_fh cancel" />
                                             </div>
                                       </div>
                                      
                                 </div>                                            
                              </form>
                             </div>
            
            
            
            <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
		   	
            

			
      
             <script src="__PUBLIC__/Admin/js/jquery-1.10.1.min.js"></script>
             <script type="text/javascript" src="__PUBLIC__/Admin/layer/layer.js"></script>
             <script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
             <script type="text/javascript" src="__PUBLIC__/Admin/common/common.js"></script>
              <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script>  <!--验证-->    
             <script type="text/javascript" src="__PUBLIC__/Admin/datas/nav.js"></script>
      <script src="__PUBLIC__/Admin/js/index.js"></script>   
      <script>
        layui.use('layer', function() {
          var $ = layui.jquery,
            layer = layui.layer;

          $('#video1').on('click', function() {
            layer.open({
              title: 'YouTube',
              maxmin: true,
              type: 2,
              content: 'video.html',
              area: ['800px', '500px']
            });
          });

        });
      </script>
             
    </div>
  </body>

</html>