<div class="nater">
    <div class="navs">
        <ul>
            <li class="left"><a href="{:U('Index/index')}">首页</a></li>
            <li class="left"><a href="{:U('Rooms/index')}">客房</a></li>
            <li class="left"><a href="{:U('Index/restaurant')}">餐饮</a></li>
            <li class="left liop"><a href="{:U('Index/environment')}">环境</a></li>
            <li class="right liop"><a href="{:U('Self/club')}">会员俱乐部</a></li>
            <li class="right"><a href="{:U('Index/package')}">套餐</a></li>
            <li class="right"><a href="{:U('Index/campaign')}">体验活动</a></li>
        </ul>
        <span><a href="{:U('Index/index')}"><img src="__IMAGES__/logo.png"></a></span>
    </div>
</div>
<style type="text/css">
    .bbbb {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="MemberCenter">
    <include file="Public:memberNav" />
    <div class="MemberCenter_cont" id="view" url="__URL__/activity">
    </div>
</div>
<script type="text/html" id="layout">
    <div class="bioter">
        <div class="bioter_right">
            <div class="bioter_tite">
                {{d.title}}
                {{# if(d.look == 'false'){ }}
                <span style="color: red;">(未读)</span>
                {{# } }}
                <span class="right">{{d.createTime}}</span>
            </div>
            <div class="bioter_cont">
                <p class="oncp bbbb">
                    {{d.body}}
                </p>
                <a href="__URL__/activityEdit/id/{{d.id}}">查看更多 >></a>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    yin.lists();
</script>
