<div class="nater">
    <div class="navs">
        <ul>
            <li class="left"><a href="{:U('Index/index')}">首页</a></li>
            <li class="left"><a href="{:U('Rooms/index')}">客房</a></li>
            <li class="left"><a href="{:U('Index/restaurant')}">餐饮</a></li>
            <li class="left liop"><a href="{:U('Index/environment')}">环境</a></li>
            <li class="right liop"><a href="{:U('Self/club')}">会员俱乐部</a></li>
            <li class="right"><a href="{:U('Index/package')}">套餐</a></li>
            <li class="right"><a href="{:U('Index/campaign')}">体验活动</a></li>
        </ul>
        <span><a href="{:U('Index/index')}"><img src="__IMAGES__/logo.png"></a></span>
    </div>
</div>
<div class="MemberCenter">
    <div class="MemberCenter_tite">
        <span>会员中心</span>
        <ul>
            <li class="avcor"><a href="{:U('Self/information')}">基本信息</a></li>
            <li><a href="{:U('Orders/index')}">预定信息</a></li>
            <li><a href="{:U('Orders/index')}">历史订单</a></li>
            <li><a href="电子券.html">电子券</a></li>
            <li><a href="积分商城.html">积分商城</a></li>
        </ul>
    </div>
    <div class="MemberCenter_cont">
        <div class="formation">
            <div class="formation_left">
                <p>您好，{$db.realname}</p>
                <p>尊敬的贵宾，以下是您的注册个人信</p>
                <p class="on">手      机：{$db.mobile}</p>
                <p>姓      名：{$db.realname}</p>
                <p class="on">身份证号：12345678912****7894</p>
                <p>手机号码：123456789123 <span class="op">修改</span></p>
                <p class="on">电子邮箱：{$db.Email} <span class="op1">修改</span></p>
                <p>会员等级：住客</p>
                <p class="on">会员积分：0.0 <a class="oa">会员升级</a></p>
            </div>
            <div class="formation_right">
                <h3>会员权益</h3>
                <p>•  会员权益会员权益会员权益会员权益会员权益会员权益会员权益会员权</p>
                <p>•  会员权益会员权益会员权益会员权益会员权益会员权益会员权益会员权</p>
                <p>•  会员权益会员权益会员权益会员权益会员权益会员权益会员权益会员权</p>
                <p>•  会员权益会员权益会员权益会员权益会员权益会员权益会员权益会员权</p>
                <h3>会员办理</h3>
                <p>•  住宿时间下午15:00入住；次日中午12:00退房。如超过12:00另            外加收50%房费，超过17:00加收100%房费。</p>
                <p>•  为求住宿舒适以及服务质量，谢绝超过限定人数住房。1.2m以上儿童视为成人计算。</p>
                <p>•  景区为山林防火重地，区内全面禁烟，严禁自行携带烹饪器具；为维持住宿卫生质量，不得携带宠物入内。</p>
                <p>•  云峰山景区客房营业时间为每年的4月1日-11月15日，冬天时是休馆的唷，在此提醒大家。</p>
                <p>•  景区为山林防火重地，区内全面禁烟，严禁自行携带烹饪器具；为维持住宿卫生质量，不得携带宠物入内。</p>
                <p>•  云峰山景区客房营业时间为每年的4月1日-11月15日，冬天时是休馆的唷，在此提醒大家。</p>
            </div>

        </div>
    </div>
</div>
<script type="text/html" id="enction">
    <div class="enction_tite">
        修改手机号
    </div>
    <div class="enction_cont">
        <div class="enction_diti">
            <div class="enction_diti_left">
                原手机号
            </div>
            <div class="enction_diti_right">
                <input type="text" placeholder="请输入原手机号" />
            </div>
        </div>
        <div class="enction_diti">
            <div class="enction_diti_left">
                验证码
            </div>
            <div class="enction_diti_right">
                <input type="text" placeholder="请输入验证码" class="binort" />
                <input type="button" value="获取验证码" class="binort1"/>
            </div>
        </div>
        <div class="enction_diti">
            <div class="enction_diti_left">
                新手机号
            </div>
            <div class="enction_diti_right">
                <input type="text" placeholder="请再次输入新手机号" />

            </div>
        </div>
        <div class="dister">
            <input type="button" value="取消" class="dister_but_1" />
            <input type="button" value="确认" class="dister_but_2"/>
        </div>
    </div>
</script>
<script type="text/html" id="enction1">
    <div class="enction_tite">
        修改邮箱
    </div>
    <div class="enction_cont">
        <div class="enction_diti">
            <div class="enction_diti_left">
                原邮箱
            </div>
            <div class="enction_diti_right">
                <input type="text" placeholder="请输入原邮箱" />
            </div>
        </div>
        <div class="enction_diti">
            <div class="enction_diti_left">
                新邮箱
            </div>
            <div class="enction_diti_right">
                <input type="text" placeholder="请输入新邮箱" />
            </div>
        </div>
        <div class="dister">
            <input type="button" value="取消" class="dister_but_1" />
            <input type="button" value="确认" class="dister_but_2"/>
        </div>
    </div>
</script>