<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{$web.webName}</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/css.css" />
    <link rel="stylesheet" href="__JS__/layui/css/layui.css">
    <script type="text/javascript" src="__JS__/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/layer/layer.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <script src="__JS__/layui/layui.js"></script>
    <script src="__JS__/yin_lists.js"></script>
</head>
<body >
<div class="wab_hend">
    <div class="hend_nav">
        <div class="hend_nav_right">
            <ul>
                <if condition="$my['id']">
                    <li><a class="aoni_1" title="个人中心" href="{:U('Self/information')}">您好欢迎您，<b>{$my['realname']}</b></a></li>
                    <li><a  class="ajax-get confirm aoni_2" data-msg="您是否退出登录？" href="{:U('Login/logout')}"><b style="color: red;">注销</b></a></li>
                    <li><a class="aoni_3" href="{:U('Orders/index')}">订单管理</a></li>
                    <else />
                    <li><a class="aoni_1" href="{:U('Login/index')}">您好，<b>请登录</b></a></li>
                    <li><a class="aoni_4" href="{:U('Login/register')}">现在加入</a></li>
                </if>
            </ul>
        </div>
    </div>
</div>
{__CONTENT__}
<div class="forder">
    <div class="nav_1">
        <ul>
            <li><a href="{:U('Rooms/index')}">客房</a></li>
            <li><a href="{:U('Index/restaurant')}">餐饮</a></li>
            <li><a href="{:U('Index/environment')}">环境</a></li>
            <li><a href="{:U('Index/campaign')}">体验活动</a></li>
            <li><a href="{:U('Index/campaign')}">套餐</a></li>
            <li><a href="{:U('Self/club')}">会员俱乐部</a></li>
        </ul>
    </div>
    <div class="nav_2">
        <ul>
            <li class="ind_li_1"><a href="{:U('Index/problem')}">常见问题</a></li>
            <li class="ind_li_2"><a href="{:U('Index/traffic')}">交通指南</a></li>
            <li class="ind_li_3"><a>{$web.telPhone}</a></li>
        </ul>
    </div>
    <div class="footerp">
        {$web.copyright}
    </div>
</div>
</body>
<script type="text/javascript" src="__JS__/js.js"></script>
<script type="text/javascript" src="__JS__/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $('.flexslider,.flexslider1').flexslider({
        directionNav: true,
        pauseOnAction: false
    });
    /*支付页面JS*/
    $('.ongrt li').click(function(){
        $(this).addClass('aisaver').siblings().removeClass('aisaver')
        $('.moigt_cont .moigt:eq('+ $(this).index() +')').show().siblings().hide()
    })
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#search',
            type: 'date',
            min: "{$allowTimes['min']}",
            max: "{$allowTimes['max']}"
        });
    });
</script>
<!--时间插件-->
<script src="__PUBLIC__/Home/time/WdatePicker.js"></script>
</html>