<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>酒店二维码管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">

		<link rel="stylesheet" href="__PUBLIC__/Home/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/Home/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/css.css" media="all">


        <script src="__PUBLIC__/Home/js/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Admin/js/uploadPreview.js"></script>  <!--图片上传-->
		<script>
		    window.onload = function () {
		        new uploadPreview({UpBtn: "up_img", DivShow: "imgdiv", ImgShow: "imgShow"});
		    }
		</script>
        <script type="text/javascript" src="__PUBLIC__/Home/plugins/layui/layui.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Admin/layer/layer.js"></script>
        <script src="__PUBLIC__/Home/js/yin.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Admin/common/common.js"></script>
        <script src="__PUBLIC__/Home/js/jquery.validate.js"></script>  <!--验证-->
        <script type="text/javascript" src="__PUBLIC__/Home/datas/nav.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Admin/yin/js.js"></script>
        <script type="text/javascript" src="__PUBLIC__/zyupload/zyupload-1.0.0.min.js"></script>
		<script src="__PUBLIC__/Home/js/index.js"></script>
		
		<script>
				layui.use('layer', function() {
					var $ = layui.jquery,
						layer = layui.layer;

					$('#video1').on('click', function() {
						layer.open({
							title: 'YouTube',
							maxmin: true,
							type: 2,
							content: 'video.html',
							area: ['800px', '500px']
						});

				});	});

		</script>

	</head>

	<body>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header header header-demo">
				<div class="layui-main">				
					<div class="admin-login-box">
						<a class="logo" style="left: 0;" href="index.html">
							<span style="font-size: 20px;">{$Think.session.hotel_config.hotelName}</span>
						</a>
						
						<!-- <div class="admin-side-toggle">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div> -->
					</div>
					<ul class="layui-nav admin-header-item">


						<li class="layui-nav-item">
							<a href="javascript:;" class="admin-header-user">
								<if condition="($Think.session.counts gt 0)">
									<div style="background-color:#F00;width: 15px;height: 15px;position: absolute;top:15px;left:46px;border-radius: 100%;">
										<font style="color:#FFF;display:block;position: absolute;z-index:3;top:-28px;left:4px;">{$Think.session.counts}</font>
									</div>
								</if>
								<img src="{$Think.session.hotel_config.headUrl}" />
								<span>{$Think.session.hotel_user.nickname}</span>
							</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="/Home/SystemNews/index">未读消息({$Think.session.counts})</a>
								</dd>
								<dd>
									<a href="密码修改.html"><i class="fa fa-gear" aria-hidden="true"></i> 修改密码</a>
								</dd>
								<dd>
									<a href="/Home/Index/login"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
								</dd>
							</dl>
						</li>
					</ul>
					<ul class="layui-nav admin-header-item-mobile">
						<li class="layui-nav-item">
							<a href="/Home/Index/login"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-side layui-bg-black" id="admin-side">
            <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side">
				 <ul class="layui-nav layui-nav-tree" lay-filter="demo">
                          <volist name="Think.session.hotel_permRows" id="permRow">
                            <li class="layui-nav-item <?php if($_SESSION['ParentContor']==$permRow['perm_type']){ echo "layui-nav-itemed";}?>">
                                <a href="javascript:;">{$permRow.perm_type}</a>
                                  <dl class="layui-nav-child">
                                  <volist name="permRow.subClass" id="subClass">
                                      <dd <?php if($_SESSION["Controller"]==$subClass["perm_url"]){echo "class='layui-this'"; }?> >
                                        <a href="/Home/{$subClass.perm_url}/index" style="margin-left: 13px;">{$subClass.perm_type}</a></dd>
                                  </volist>
                                  </dl>
                           </li>
                           </volist>
               </ul>
            </div>
			</div>

			{__CONTENT__}

			<script>
				/*$(function(){
					var ing_hotel = "{$hotel_ing}";
					var send = 1;
					if(ing_hotel){
						var url = "{:U('SystemNews/send_user_msg')}";
						window.setInterval(alert_msg, 10000);
						function alert_msg() {
							$.post(url,{send:send},function(data){

							})
						}
					}
				})*/
			</script>
		</div>
	</body>
</html>