 
<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
          <ul class="layui-tab-title">
            <li class="layui-this">
              <i class="fa fa-dashboard" aria-hidden="true"></i>
              <cite>系统设置</cite>
            </li>
          </ul>
          <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                    <form action="__URL__/setUpDo" method="post" class="bl-form bl-formhor" id="jsForm">
               <div class="conter">
                                  
                                   <div class="xxkt">
                                      <ul>
                                        <li class="xxkt_bt">系统设置</li>
                                        </ul>
                                  </div>
                                  <div class="xxknr">
                                  <div>
	                                    <div class="glylb_szmm">
	                                              <span class="glylb_szmm_span">酒店名称：</span>
	                                              <div class="layui-input-block z_min_left_10">
	                                                   <input class="fn-tinput" <volist name="db" id="data"><if condition="($data.key eq 'hotelName')">value="{$data.value}"</if></volist>  name="hotelName" type="text" value="" placeholder="请输入酒店名称" >
                                                      <p style="color:#F00;line-height: 33px;">(修改将在下次登录后生效)</p>
	                                              </div>
	                                     </div> 

							              <div class="glylb_szmm"> <span class="glylb_szmm_span">酒店logo：</span>
							                <div class="layui-input-block z_min_left_10 uploadOne_parent">
							                <input type="hidden" name="head" value="" class="uploadOne_data">
							                  <input type="file" name="file" class="uploadOne" data-width="100" data-height="100" />
							                  <div id="imgdiv"><img width="100" height="100" src="/Uploads{$img.savepath}{$img.savename}" class="uploadOne_img" /></div>
							                </div>
							              </div>
                                        <div class="glylb_an" style="margin-left:20%;">
                                         	<input type="hidden" <volist name="db" id="data"><if condition="($data.key eq 'head')">   value="{$data.value}"  </if></volist> name="realhead" >
                                                  <input type="submit" value="确认" class="glylb_an_qd ajax-post" target-form="bl-form" />
                                                 <input type="button" value="取消" onclick="javascript:history.back(-1);return false;" class="glylb_an_fh" />
                                        </div>                              
                                   </div>                   
                                 </div>
                               </div>
                            </form>
            </div>
          </div>
        </div>
      </div>