{__NOLAYOUT__}
<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>酒店二维码管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="__PUBLIC__/Home/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/global.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/Home/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/css.css" media="all">
     
     
    
	</head>

	<body>
     <div class="xz_lkop">添加权限组</div>

     <form action="__URL__/roleAdd" class="form-role" method="post">
                              <div class="conter">
                                  <div class="ertob1">
                                       <div class="lista2">
                                             <div class="lista_left">小组名称 ：
                                             </div>
                                             <div class="lista_right">
                                                 
                                                 <input type="text" name="role_type" id="textfield" class="int_1" placeholder="请填写组名">
                                             </div>
                                       </div>
                                       <div class="lista2">
                                             <div class="lista_left">描述 ：
                                             </div>
                                             <div class="lista_right">
                                                 <input type="text" name="role_info" id="textfield" class="int_1" placeholder="请填写描述">
                                                 
                                             </div>
                                       </div>
           
                                  </div>
                                  <div class="ertob1">
                                       <div class="lista2">
                                             <div class="lista_left">
                                             </div>
                                             <div class="lista_right">
                                                 <input type="submit" value="确认" class="glylb_an_qd parent-ajax-post"  target-form="form-role"/>
                                                 <input type="button" value="取消" class="glylb_an_fh cancel" />
                                             </div>
                                       </div>
                                      
                                  </div>
                       
                             </div>
            </form>          
            <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
		   	
			
			
             <script src="__PUBLIC__/Home/js/jquery-1.10.1.min.js"></script>
             <script type="text/javascript" src="__PUBLIC__/Home/plugins/layui/layui.js"></script>
             <script type="text/javascript" src="__PUBLIC__/Admin/layer/layer.js"></script>
             <script type="text/javascript" src="__PUBLIC__/Admin/common/common.js"></script>
              <script src="__PUBLIC__/Home/js/jquery.validate.js"></script>  <!--验证-->    
             <script type="text/javascript" src="__PUBLIC__/Home/datas/nav.js"></script>
            <script src="__PUBLIC__/Home/js/index.js"></script>   
			
            
		</div>
	</body>

</html>