<div class="app_center" style="margin-bottom: 130px;">
    <div class="addWrap">
        <div class="swipe" id="mySwipe">
            <div class="swipe-wrap">
                <volist name="banners" id="banner">
                    <div><a href="javascript:;"><img class="img-responsive" src="/Uploads{$banner.savepath}{$banner.savename}"/></a></div>
                </volist>
            </div>
        </div>
        <ul id="position">
           <!-- <volist name="banners" id="banner" key="k">
                <if condition="$k eq 1">
                    <li class="cur"></li>
                    <else />
                    <li></li>
                </if>
            </volist>-->
        </ul>
    </div>
    <div class="app_dist">
        <div class="app_dist_tite">
            <div class="app_dist_tite_img">
                <img src="__MOBILE__/img/kf02@2x.png">
            </div>
            <div class="app_dist_tite_colo">
                房间设备
            </div>
        </div>
        <div class="app_dist_cont">
            {:html_entity_decode($db['equipment'])}
        </div>
    </div>
    <div class="app_dist">
        <div class="app_dist_tite">
            <div class="app_dist_tite_img">
                <img src="__MOBILE__/img/kf03@2x.png">
            </div>
            <div class="app_dist_tite_colo">
                房间价格
            </div>
        </div>
        <div class="app_dist_cont">
            <p>法定假日房价<b>{$db.money}</b>元，当日房价以页面显示为准</p>
        </div>
    </div>
    <div class="app_dist">
        <div class="app_dist_tite">
            <div class="app_dist_tite_img">
                <img src="__MOBILE__/img/kf04@2x.png">
            </div>
            <div class="app_dist_tite_colo">
                房间描述
            </div>
        </div>
        <div class="app_dist_cont">
            {:html_entity_decode($db['mark'])}
        </div>
    </div>
    <div class="app_dist">
        <div class="app_dist_tite">
            <div class="app_dist_tite_img">
                <img src="__MOBILE__/img/kf06@2x.png">
            </div>
            <div class="app_dist_tite_colo">
                订房须知
            </div>
        </div>
        <div class="app_dist_cont">
            {:html_entity_decode($db['back'])}
        </div>
    </div>
    <div class="app_dist">
        <div class="app_dist_tite">
            <div class="app_dist_tite_img">
                <img src="__MOBILE__/img/kf07@2x.png">
            </div>
            <div class="app_dist_tite_colo">
                入住通知
            </div>
        </div>
        {:html_entity_decode($db['come'])}
    </div>
    <div class="app_dist">
        <div class="app_dist_tite">
            <div class="app_dist_tite_img">
                <img src="__MOBILE__/img/kf08@2x.png">
            </div>
            <div class="app_dist_tite_colo">
                更改订单
            </div>
        </div>
        <div class="app_dist_cont">
            {:html_entity_decode($db['change'])}
        </div>
    </div>
</div>
<div class="dist_but1 " style="bottom: 60px;">
    <a href="{:U('Orders/prepareOrder?id='.$db['id'])}">立即预定</a>
</div>

</html>