<style>
.holi{border: 1px solid #b9b0a3; border-radius: 10px; width: 98%; padding: 1rem; height: auto; overflow: hidden; margin: 1rem auto; background: #fff;}
.henf_list{ width: 100%;  height: auto; overflow: hidden; }
.henf_list_left{ width: 50%; height: 4rem; float: left; font-size: 1.5rem; line-height: 4rem;}
.henf_list_right{ width: 50%; height: 4rem; float: right; font-size: 1.5rem; line-height: 4rem;}
</style>



<div class="coic" id="view" url="__ACTION__">
</div>
</center>


<script type="text/html" id="layout">
    <div class="holi">
        <div class="henf_list">
            <div class="henf_list_left">
                订单编号：{{d.no}}
            </div>
            <div class="henf_list_right">
                {{d.createTime}}
            </div>

        </div>
        {{# layui.each(d.roomLists, function(index, item){ }}
        <div class="rcit">
            <div class="clort">
                <div class="clort_left"><img src="{{item.img}}">
                </div>
                <div class="clort_right">
                    <div class="omp_top">
                        <div class="am_flt">酒店名称：{{item.hotelName}}</div>
                        <div class="am_rlt">房间类型：{{item.roomName}}</div>
                    </div>
                    <div class="omp_bottom">
                        <div class="am_flt">房间数量：1间</div>
                        <div class="am_rlt">剩余时长：{{item.have}}</div>
                    </div>
                </div>
            </div>
            <div class="engit">
                <a class="engit_left ajax-get confirm" data-msg="请您与酒店前台确认房间后再点击确定" href="__URL__/check/id/{{item.id}}">入住
                </a>
                <button type="button" class="engit_right" order_id="{{item.id}}" hotel_id="{{item.hotel}}" data-am-modal="{target: '#my-popup'}"> 换房</button>
                </a>
            </div>
        </div>
        {{# }); }}
    </div>
</script>


<script>

</script>


<!--换房弹出窗 妹子UI-->
<div class="am-popup" id="my-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">换房信息</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd ma_bd">
            <div class="amnt">
                <ul>
                    <li>原来房间</li>
                    <li>标准间</li>
                    <li>1间</li>
                    <li>24小时</li>
                </ul>
            </div>
            <div class="bopy">换成</div>
            <div class="am_tad">
                <table class="am-table">
                    <thead>
                    <tr>
                        <th>房间类型</th>
                        <th>房间数量</th>
                        <th>入住时长</th>
                        <th>小时</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>双人间</td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">0</span>
                            <a class="jia">+</a>
                        </td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">1</span>
                            <a class="jia">+</a>
                        </td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>双人间</td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">0</span>
                            <a class="jia">+</a>
                        </td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">1</span>
                            <a class="jia">+</a>
                        </td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>双人间</td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">0</span>
                            <a class="jia">+</a>
                        </td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">1</span>
                            <a class="jia">+</a>
                        </td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>双人间</td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">0</span>
                            <a class="jia">+</a>
                        </td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">1</span>
                            <a class="jia">+</a>
                        </td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>双人间</td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">0</span>
                            <a class="jia">+</a>
                        </td>
                        <td class="joist">
                            <a class="jian">-</a>
                            <span class="num">1</span>
                            <a class="jia">+</a>
                        </td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>应付金额 ：</td>
                        <td colspan="3" style="text-align:right; color:#dd2b0e;">0元</td>
                    </tr>
                    <tr>
                        <td>时间折算 ：</td>
                        <td colspan="3" style="text-align:right; color:#dd2b0e;">0小时</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="am_bot_1">
                <button type="button" data-am-modal-close class="am-btn am-btn-block am_button_1">替换</button>
            </div>
        </div>
    </div>
</div>
