<style>
.holi{border: 1px solid #b9b0a3; border-radius: 10px; width: 98%; padding: 1rem; height: auto; overflow: hidden; margin: 1rem auto; background: #fff;}
.henf_list{ width: 100%;  height: auto; overflow: hidden; }
.henf_list_left{ text-align: -webkit-auto; height: 4rem; margin-left: 11px; width: 50%; float: left; font-size: 2.2rem; line-height: 4rem;}
.henf_list_right{ width: 30%; height: 4rem; float: right; font-size: 4rem; line-height: 5rem;}
.engit_center{width: 25%;background: #0E9AD2;  height: 5rem;float: left; line-height: 5rem;  color: #FFF;  display: block;  border: none;}
.engit_left{width:25%}
.engit_right{width:25%;background: #FFB800;}
.over{width:25%;background: #3f3f3f;}
</style>
<div class="message">
    <div class="am_collection"> 消费清单
    </div>
</div>
<div class="coic" id="view" end-msg='没有更多了' url="__ACTION__">
</div>
</center>

<script type="text/html" id="layout">
    <div class="holi">
        <div class="henf_list">
            <div class="clort_left">
                <img src="{{ d.img }}">
            </div>
            <div class="henf_list_left">
               <p style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">{{ d.hotelName }} -- {{ d.type }}</p>
            </div>
            <div class="henf_list_right">
            {{# if(d.type == '退款') { }}
                  +{{ d.allAmount }}  
            {{# }else{ }}
                  -{{ d.allAmount }}              
            {{# } }}
            </div>
            <div style=" margin-left: 11px; float: left;">
                {{ d.createTime }}</div>
        </div>
     
    </div>
</script>
