<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <cite>酒店信息</cite>
            </li>
        </ul>

        <div class="layui-tab-item layui-show">
            <div class="conter">

                <div class="xxkt">
                    <ul>
                        <li class="xxkt_bt">酒店信息</li>
                    </ul>
                </div>
            <form action="__URL__/index" class="myform" method="post">
                <div class="xxknr">
                    <div>
                        <div class="glylb_szmm">
                            <span class="glylb_szmm_span">酒店名称：</span>
                            <div class="layui-input-block z_min_left_10">
                                <input class="fn-tinput" name="hotelName" value="{$data.hotelName}" placeholder="请输入酒店名称">
                            </div>
                        </div>
                        <div class="glylb_szmm">
                            <span class="glylb_szmm_span">酒店地址：</span>
                            <div class="layui-input-block z_min_left_10">
                                <input class="fn-tinput" name="address" value="{$data.address}" placeholder="请输入酒店地址">
                            </div>
                        </div>
                        <div class="glylb_szmm">
                            <span class="glylb_szmm_span">酒店电话：</span>
                            <div class="layui-input-block z_min_left_10">
                                <input class="fn-tinput" name="mobile" value="{$data.mobile}" placeholder="请输入酒店电话">
                            </div>
                        </div>
                        <div class="glylb_szmm">
                            <span class="glylb_szmm_span">酒店头像：</span>
                            <div class="layui-input-block z_min_left_10 uploadOne_parent">
                                <input type="hidden" name="head" value="{$data.head}" class="uploadOne_data">
                                <input type="file" name="file" class="uploadOne" data-width="100" data-height="100"/>
                                <div id="imgdiv">
                                    <if condition="$data.head neq null">
                                        <img width="100" height="100" src="{:getSrc($data['head'])}" class="uploadOne_img"/>
                                        <else/>
                                        <img width="100" height="100" src="__PUBLIC__/Admin/images/0.jpg" class="uploadOne_img"/>
                                    </if>
                                </div>
                                <font style="display: block;position:absolute;color:#F00;left:105px;">图片大小为100px*100px</font>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="gater">
                    <input type="hidden" name="id" value="{$data.id}" />
                    <input type="submit" value="确认" class="glylb_an_qd ajax-post confirm" target-form="myform" data-msg='您确定修改吗？'/>
                    <!--<input type="button" value="取消" class="glylb_an_fh"/>-->
                </div>
            </form>
            </div>
        </div>
    </div>
</div>