
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>登录</title>
</head>
<link rel="stylesheet" href="__MOBILE__/js/layui/css/layui.css">
<link rel="stylesheet" href="__MOBILE__/css/css.css">
<script>
(function(global) {
    function remChange() {
        document.documentElement.style.fontSize = 20 * document.documentElement.clientWidth / 1024 + 'px';
    }
    remChange();
    global.addEventListener('resize', remChange, false);
})(window);
</script>

<body style="background: #FFFFFF;">
    <img src="__MOBILE__/img/dl01@2x.png" width="100%">
    <div class="app_Login">
        <form action="__URL__/login" class="login">
        <div class="Login_fr_1">
            <input type="text" name="mobile" placeholder="请输入手机号" />
        </div>
        <div class="Login_fr_2">
            <input type="password" name="password" placeholder="请输入密码" />
        </div>
        <input type="submit" value="登录" class="Login_but ajax-post" target-form="login" />
         </form>
        <div class="Login_fz">
            <a href="__URL__/password.html" class="left">忘记密码</a>
            <a href="__URL__/register.html" class="right">立即注册</a>
        </div>

    </div>
</body>
<script src="__MOBILE__/js/jquery-1.10.1.min.js"></script>
<script src='__MOBILE__/js/hhSwipe.js' type="text/javascript"></script>
<script src="__MOBILE__/js/layui/layui.js"></script>
<script src="__MOBILE__/js/layer_mobile/layer.js"></script>
<script src="__MOBILE__/js/js.js"></script>
<script src="__MOBILE__/js/yin_common.js"></script>
</html>