<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-dashboard" aria-hidden="true"></i> <cite>会员俱乐部新增</cite></li>
        </ul>
        <div class="layui-tab-item layui-show">
            <div class="conter">
                <div class="xxkt">
                    <ul>
                        <li class="xxkt_bt">内容管理-新增</li>
                    </ul>
                </div>
                <form action="__URL__/addCheck" method="post" class="form-hotelAdd" enctype="multipart/form-data">
                    <div class="xxknr">
                        <div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">选择分类：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <select name="type">
                                        <option value="f">餐饮</option>
                                        <option value="e">环境</option>
                                        <option value="a">体验活动</option>
                                    </select>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">封面图片：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <img id="LAY_demo_upload" style="display: none;" width="100px" height="100px" src="">
                                    <button name="file" style="margin-top:7px;" class="layui-btn test" type="button" lay-data="{url: '/index.php/Admin/AjaxPost/uploadOne', accept: 'images'}" >
                                        <i class="layui-icon">&#xe67c;</i>上传封面图片
                                    </button>
                                    <input name="pic" id="logo" type="hidden" value="">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">标题：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" name="name" placeholder="请填写标题">
                                </div>
                            </div>
                            <div class="glylb_szmm">
                                <span class="glylb_szmm_span">轮播图：<span style="color: red;">最佳效果需要上传的每张图片大小完全一致</span></span>
                                <div class="layui-input-block z_min_left_10">
                                    <div id="zyupload" class="zyupload" style="margin:0 0 20px 0;"></div>
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">详情介绍：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea class="layui-textarea" name="mark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gater">
                        <input type="hidden" name="__GO__" value="__URL__/index">
                        <input type="submit" value="确认" class="glylb_an_qd ajax-post" target-form="form-hotelAdd"/>
                        <a href="__URL__/index"><button type="button" class="glylb_an_fh">返回</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        // 初始化插件
        $("#zyupload").zyUpload({
            width            :   "750px",                 // 宽度
            height           :   "400px",                 // 宽度
            itemWidth        :   "140px",                 // 文件项的宽度
            itemHeight       :   "115px",                 // 文件项的高度
            url              :   "{:U('AjaxPost/zyupload')}",                     // 上传文件的路径
            fileType         :   ["jpg","png","gif","jpeg"],     // 上传文件的类型
            fileSize         :   51200000,                // 上传文件的大小
            multiple         :   true,                    // 是否可以多个文件上传
            dragDrop         :   true,                    // 是否可以拖动上传文件
            tailor           :   true,                    // 是否可以裁剪图片
            del              :   true,                    // 是否可以删除文件
            finishDel        :   false,           // 是否在上传文件完成后删除预览
            onSuccess: function(file, response){          // 文件上传成功的回调方法
                //alert('上传完成的回调为JSON：'+JSON.stringify(file));
                var json  = JSON.parse(response);
                $('#zyupload').append("<input type='hidden' name='imgs[]' value=" + json.id + ">");
            }
        });
        layui.use('upload', function(){
            var upload = layui.upload;
            upload.render({
                elem: '.test',
                done: function(res){
                    $('#LAY_demo_upload').attr('src',res.data.src);
                    $('#LAY_demo_upload').css('display','block');
                    $('#logo').val(res.id);
                }
            })
        })
    });
</script>
