<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <cite>查看明细</cite>
            </li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <div class="conter">
                    <div class="conter_sait">
                        <form action="">
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <select name="status" class="select_t">
                                        <option value="">选择状态</option>
                                        <option value="10">未提现</option>
                                        <option value="2">提现申请中</option>
                                        <option value="1">已提现</option>
                                    </select>
                                </div>
                            </div>
                            <div class="wort" style="width:280px;">
                                <input name="title" lay-verify="title" autocomplete="off" placeholder="姓名" class="layui-input" type="text">
                            </div>
                            <div class="wort">
                                <button type="submit" class="layui-btn">查找</button>
                            </div>
                            <div class="wort">
                                <a href="__URL__/look_export?{$info}"><button type="button" class="layui-btn layui-btn-normal">导出</button></a>
                            </div>
                        </form>
                    </div>
                    <div class="botg">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>日期</th>
                                <th>房间类型</th>
                                <th>用户姓名</th>
                                <th>订单金额</th>
                                <th>交易类型</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="db" id="db">
                                <tr class="bnoku">
                                    <td>{$db.updateTime|date='Y-m-d H:i:s',###}</td>
                                    <td>{$db.roomName}</td>
                                    <td>{$db.realname}</td>
                                    <td>{$db.money}</td>
                                    <td>{$db.type_name}</td>
                                    <td>
                                        <if condition="($db['state'] eq 3) && ($db['status'] neq 8)">
                                                <span style="color: red;">已退款</span>
                                            <elseif condition="($db['status'] eq 8)" />
                                                <span style="color:green ;">--</span>
                                            <elseif condition="($db['status'] eq 9)" />
                                                <span style="color: red;">未入住</span>
                                            <elseif condition="($db['status'] eq 1)" />
                                                <span style="color:green ;">已提现</span>
                                            <elseif condition="($db['status'] eq 0)" />
                                                <span style="color: red;">未提现</span>
                                            <else />
                                                <span style="color:deepskyblue ;">提现申请中</span>
                                        </if>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="feniou">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            