       
      <div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
          <ul class="layui-tab-title">
            <li class="layui-this">
              <i class="fa fa-dashboard" aria-hidden="true"></i>
              <cite>提现记录详情</cite>
            </li>
          </ul>
                    
          <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
               <div class="conter">
                                  <div class="conter_sait">
                                        <form  action="" method="post" class="form-hotel">
                                             
                                              <input type="hidden" value="{:I('hotel')}" name="hotel"/>
                                              <div class="wort">
                                              <div class="layui-input-inline">
                                                <input name="startTime" value="{:I('startTime')}" id="date" autocomplete="off" placeholder="从2017-02-28时间" class="layui-input" onclick="layui.laydate({elem: this})" type="text">
                                             </div>
                                             </div>
                                             <div class="wort">
                                              <div class="layui-input-inline">至
                                               </div>
                                               </div>
                                               <div class="wort">
                                            <div class="layui-input-inline">
                                                <input name="endTime" value="{:I('endTime')}" id="date" autocomplete="off" placeholder="到2017-02-28时间" class="layui-input" onclick="layui.laydate({elem: this})" type="text">
                                             </div>
                                             </div>
                                               
                                          <div class="wort">
                                                 <button  id="select" class="layui-btn">查找</button>
                                            </div>
                                             
                                             <div class="wort">
                                                 <button id="export" class="layui-btn layui-btn-normal">导出</button>
                                            </div>
                                            
                                        </form>
                                   </div>

                                 <div class="botg">
                                    <table class="layui-table" >
                                                 <thead>
                                                      <tr>
                                                          <th>日期</th>
                                                          
                                                          <th>提现金额</th>
                                                          <th>状态</th>
                                                        </tr> 
                                                </thead>
                                                <tbody>
                                                <volist name="db" id="data">
                                                    <tr>
                                                       <td>{$data.applydate}</td>
                                                       
                                                       <td class="cor_1">{$data.monery}</td>
                                                       
                                                       <td style="color:<switch name="data.status">
                                                                                <case value='正在审核'>#009688</case> 
                                                                                <case value='通过'>#1E9FFF</case>
                                                                                <case value='失败'>#FF5722</case> 
                                                                                </switch>">{$data.status}</td>
                                                    </tr>
                                                 </volist>
                                                </tbody>
                                   </table>
                                   <div class="feniou">
                                                   <ul>
                                                      {$page}
                                                   </ul>
                                  </div>

                                </div>
                             </div>
            </div>
          </div>
        </div>
      </div>


    <script>
    $('#export').click(function () {
        $(this).parents('.form-hotel').attr('action', '__URL__/excel');
    })
    $('#select').click(function () {
        $(this).parents('.form-hotel').attr('action', '__URL__/record_edit');
    })
</script>