<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <cite>退款列表</cite>
            </li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <div class="conter">
                    <div class="conter_sait">
                        <form action="__URL__/index" method="get">
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="start" autocomplete="off" placeholder="点击选择起始日期" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">至
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="end" autocomplete="off" placeholder="点击选择结束日期" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <select name='status' class="select_t">
                                        <option value=''>选择状态</option>
                                        <option value='5'>退款待审核</option>
                                        <option value='6'>已退款</option>
                                        <option value='7'>已驳回</option>
                                    </select>
                                </div>
                            </div>
                            <div class="wort" style="width:280px;">
                                <input name="title" lay-verify="title" autocomplete="off" placeholder="订单编号/客户姓名/客户电话" class="layui-input" type="text">
                            </div>
                            <div class="wort">
                                <button type="submit" class="layui-btn">查找</button>
                            </div>
                            <div class="wort">
                                <a href="__URL__/export?start={:I('start')}&end={:I('end')}&title={:I('title')}"><button type="button" class="layui-btn layui-btn-normal">导出</button></a>
                            </div>
                        </form>
                    </div>
                    <div class="botg">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>下单日期</th>
                                <th>订单编号</th>
                                <th>房间名称</th>
                                <th>客户姓名</th>
                                <th>客户电话</th>
                                <th>成人(个数)</th>
                                <th>儿童(个数)</th>
                                <th>日期区段</th>
                                <th>订单类型</th>
                                <th>订单金额</th>
                                <th>付款方式</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="db" id="list">
                                <tr>
                                    <td>{$list.createTime}</td>
                                    <td>{$list.orderNo}</td>
                                    <td>{$list.houseName}</td>
                                    <td>{$list.username}</td>
                                    <td>{$list.mobile}</td>
                                    <td>{$list.person}</td>
                                    <td>{$list.child}</td>
                                    <td>{$list.date_show}</td>
                                    <td>{$list.type_name}</td>
                                    <td>{$list.price}</td>
                                    <td>{$list.payType}</td>
                                    <td>{$list.status_name}</td>
                                    <td>
                                        <if condition="$list['status'] eq 5">
                                            <a class="z_coios_1 ajax-get confirm" href="__URL__/pass/id/{$list.id}/uid/{$list.userID}" data-msg="您确定给该用户退完款了？确定后该订单将成为已退款状态！">确认退款</a>
                                            <a class="z_coios_4 ajax-get confirm" href="__URL__/down/id/{$list.id}" data-msg="您确定要驳回该退款申请？确定后该订单将成为已驳回状态！">驳回</a>
                                            <else />
                                            不可操作
                                        </if>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="feniou">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
    })
</script>