* {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	font-family: "微软雅黑";
	font-size: 16px;	
}

ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, textarea, select, button {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
th, em, strong, b, address, cite {
	font-style: normal;
	font-weight: bold;
}
li {
	list-style: none;
}
img, fieldset {
	border: 0;
}
a {
	color: #707070;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	cursor: pointer;
}

 input,select,option,textarea{outline: none;}
 
.left {
	float: left !important;
}
.right {
	float: right !important;
}
/*自家通用*/
.clear:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
p {
	color: #8C8C8C;
}

body {
	min-width: 1280px;
}

.img_a {
	display: inline-block;
}
/*轮播图*/
.flexslider{position:relative;height:800px;overflow:hidden;background:url(images/loading.gif) 50% no-repeat;}

.slides{position:relative;z-index:1;}

.slides li{height:800px;}

.flex-control-nav{position:absolute;bottom:30px;z-index:2;width:100%;text-align:center;}

.flex-control-nav li{display:inline-block; width:auto;height:9px;margin:0 40px 0 0;zoom:1;}

.flex-control-nav a{overflow:hidden; border-radius: 50px; float: left;background:#FFFFFF;cursor:pointer;width:9px;height:9px;color: #FFFFFF;}

.flex-control-nav .flex-active{width:29px; background:#0ba3ae; color: #0ba3ae; opacity:1;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}

.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}

.flex-direction-nav li a.flex-prev{left:40px;}

.flex-direction-nav li a.flex-next{right:40px;}

/*子页轮播更改*/
.flexslider1{position:relative;height:680px;overflow:hidden;background:url(images/loading.gif) 50% no-repeat;}

.aoct li{ height:680px !important;}

/*轮播图*/

.wab_hend{ width: 100%; height: 40px; background: #FFFFFF; border-bottom: 1px solid #dddddd;}

.hend_nav{ width: 1280px; height: 40px; margin: 0 auto;}

.hend_nav_right{ width: auto; float: right;}

.hend_nav_right ul{ padding: 0; margin: 0;}

.hend_nav_right ul li{ float: left; padding: 0 20px; line-height: 40px; height: 40px; background: url(../img/ml.png) no-repeat right center; }

.hend_nav_right ul li:last-child{ background: none;}

.hend_nav_right ul li b{ font-weight: 500; color: #ff7e35;}

.web_cont{ width: 100%; height: auto; overflow: hidden; position: relative;}

.nav{ width:1060px; height: 50px; background: rgba(0,0,0,.4); top: 60px; position: absolute; left:50%; margin-left: -530px; z-index: 99;}

.nav ul{ padding: 0; margin: 0;}

.nav ul li{ width: auto; height: 50px; padding: 0 40px; line-height: 50px; background: url(../img/yuan.png) no-repeat right center;}

.nav ul li a{ color: #FFFFFF; font-size: 18px;}

.liop{ background: none !important;}

.nav span{ position: absolute; left: 50%; top: -16px; margin-left: -35px;}

.web_index_time{ width:300px; height:145px; position: absolute; bottom: 50px; right: 20%; background: #FFFFFF; z-index: 99; border-radius: 10px; padding: 12px 15px;
box-sizing: border-box;}

.index_time_1{ width: 50%; float: left; height: 70px; float: left; }

.index_time_1 p{ width: 100%; height: 30px; line-height: 30px; color: #333333; font-size: 14px; padding-bottom: 5px;} 

.index_time_1 input{ width: 100%; height: 35px; line-height: 35px; border: 1px solid #dddddd; border-radius: 5px; font-size: 13px;color: #333333; padding-right: 20px; box-sizing: border-box; 
background: url(../img/sy09.png) no-repeat 90% center; text-indent: 10px;}

.index_time_2{ width: 23%; float: left; height: 70px; float: left; margin-left: 2%;}

.index_time_2 p{ width: 100%; height: 30px; line-height: 30px; color: #333333; font-size: 14px; padding-bottom: 5px;} 

.index_time_2 select{ width: 100%; height: 35px; line-height: 35px; border: 1px solid #dddddd; border-radius: 5px; font-size: 13px;color: #333333; padding-right: 20px; box-sizing: border-box; 
 text-indent: 10px;}

.web_enop{ width: 100%; height:  auto; overflow: hidden;}

.web_index_but{ width: 150px; height: 30px; text-align: center; line-height: 30px; background: #ff9900; border-radius: 50px; color: #FEFFFE; border: none; display: block;
margin: 15px auto 0; font-size: 16px;}

.web_coent{ width: 1280px; height: auto; overflow: hidden; margin:30px auto ;}

.currency_tite{ width: 100%; height: 70px; text-align: center; line-height: 70px; background: url(../img/cy01.png) no-repeat center center; font-size: 32px;}

.web_efnt{ width: 100%; height: 50px; margin-bottom: 30px;}

.web_efnt ul{ padding: 0; margin: 0 auto; width: 420px; }

.web_efnt ul li{ float: left; padding: 0 25px; height: 50px; line-height: 50px; font-size: 14px; background: url(../img/x.jpg) no-repeat right center; color: #333333;}

.web_efnt ul li:last-child{background: none;}

.inacvr{ color: #ff9900 !important;}

.web_efnt ul li:hover{ cursor: pointer;}

.entweb{ width: 100%; height: auto; overflow: hidden; }

.linomt{ width: 400px; height:  auto; float: left; margin: 0 12.5px 20px 12.5px; overflow: hidden;}

.linomt a{ display: block; width: 100%; height: 260px; overflow: hidden;}

.linomt a img{ width: 100%; height: 100%;}

.linomt b{ display: block; width: 100%; height: 55px; line-height: 70px; text-align: center; font-size: 28px; color: #3c9f59; font-weight: 500; overflow: hidden;}

.linomt p{ width: 100%; height: 50px; line-height: 50px; font-size: 16px; color: #555555; text-align: center;}

.web_index_but_2{ width: 100%; height: 50px; margin: 30px 0;}

.aopur{ width: 180px; height: 50px; border: 1px solid #3c9f59; box-sizing: border-box; color: #3c9f59; display: block; margin: 0 auto; background: #FFFFFF;}

.aopur:hover{ cursor: pointer; color: #FFFFFF; background: #3c9f59;}

.avcer{ color: #FF9900 !important;}

/*客房*/

.GuestRoom{ width: 1280px; height: auto; overflow: hidden; margin: 0 auto 20px;}

.GuestRoom_tite{ width: 100%; height: 40px; background: #ff9900; padding: 0 20px; box-sizing: border-box;}

.GuestRoom_tite_left{ width: 200px; height: 40px; line-height: 40px; color: #FFFFFF; float: left;}

.GuestRoom_tite_cont{ width: 500px; height: 40px; line-height: 40px; margin-left: 22%; float: left;}

.GuestRoom_tite_cont span{ margin-right: 20px; color: #FFFFFF;}

.deavcer{ color: #643c00 !important;}

.GuestRoom_tite_right{ width:150px; height: 30px; float: right; background: #FFFFFF; margin-top: 5px; border-radius: 5px; overflow: hidden;}

.toc_sele{ width: 100%; height: 100%; border: none; font-size: 14px; padding-left: 10px;}

.GuestRoom_cont{ width: 100%; height: auto; overflow: hidden; margin-top: 20px;}

.GuestRoom_banner{ width: 100%; height: auto; overflow: hidden; margin-top: 30px;}

.GuestRoom_banner_left{ width:720px; height: 480px; float: left;}

.GuestRoom_banner_left img{ width: 100%; height: 100%;}

.GuestRoom_banner_right{ width: 550px; height: 480px; float: right;}

.GuestRoom_banner_right a{ width:260px; height: 150px; float: left; margin: 0 0 20px 10px; display: block;}

.GuestRoom_dist{ width: 100%; height: auto; overflow: hidden; margin-top: 30px;}

.GuestRoom_dist_left{ width: 720px; height: auto; overflow: hidden; float: left;}

.joint{ width: 100%; height: auto; overflow: hidden; margin-bottom: 10px;}

.joint_tite{ width: 100%; height: 60px; background: #ffe0b2; line-height: 60px; text-indent: 20px; color: #333333; font-size: 18px;}

.joint_cont{ width: 100%; height: auto; overflow: hidden; display: none;}

.joint_cont1{ width: 100%; height: auto; overflow: hidden; }

.joint_cont_lit{ width: 50%; height:50px; padding-left: 20px; box-sizing: border-box; float: left; margin-top: 13px;}

.joint_cont_lit span{ padding-top: 11px; display: block; float: left; margin-right: 10px;}

.joint_cont_lit a{display: block; float: left; height:50px; line-height: 50px;}

.joina{ width: 20px; height: 20px; float: right; text-indent: 0 !important; margin-right: 20px; line-height: 20px !important; display: block; margin-top: 20px;}

.joint_tite span{ margin-left: 20px;}

.bists{ width: 100%; height: auto; overflow: hidden; padding: 20px; box-sizing:  border-box;}

.opert{ text-indent: 32px;}

.bists b{ width: 100%; height: auto; overflow: hidden; display: block;}

.bists b img{ width: 100%;}

.bists p{ font-size: 14px; line-height: 30px;}

.GuestRoom_dist_right{ width: 550px; height: auto; overflow: hidden;float: right;}

.hont{ width: 160px; height: 50px; display: block; background: #FF9900; color: #FFFFFF; border-radius: 5px; margin: 0 auto; border: none;}

.onert{margin-bottom: 20px;}

.joint_cont_lit1{ width: 100%; height:80px; padding-left: 20px; box-sizing: border-box; float: left; margin-top: 13px;}

.joint_cont_lit1 span{ padding-top: 16px; display: block; float: left; margin-right: 20px;}

.joint_cont_lit1 a{display: block; float: left; height:50px; line-height: 50px;}

.joint_cont_lit1 p{ line-height: 40px; display: block; }

.nerto{ width: 100%; height: auto; overflow: hidden;}

.nerto p{ width: 100%; height: 40px; line-height: 40px; text-align: center;}

.nerto1{ width: 100%; height: auto; overflow: hidden; margin: 20px 0;}

.ioncton{ width:760px; height: auto; overflow: hidden; float: left;}

.ionctlist{ width: 100%; height: 280px; padding: 40px 0; box-sizing: border-box; border-bottom: 1px solid #dddddd; }

.ionctlist_img{ width: 300px; height: 200px; float: left;}

.ionctlist_img img{ width: 100%; height: 100%;}

.ionctlist_right{ width: 440px; height: 200px;  float: right;}

.ionctlist_right h3{ width: 100%; height: 45px; font-size: 26px; color: #555555;}

.ionctlist_right p{ width: 100%; height: 40px; line-height: 40px; font-size: 16px; color: #888888;}

.ionctlist_right span{width: 100%; height: 60px; line-height: 60px; display: block; color: #555555;}

.ionctlist_right span b{ color: #ff9900;font-size: 40px;}

.ionctlist_right span a{ color: #555555; font-size: 16px; text-decoration:line-through; margin-left: 20px;}

.inpost{ width:150px ; height: 40px; background: #ff9900; text-align: center; line-height: 40px; border-radius: 50px; display: block; color: #FFFFFF; 
margin-top: 12px;-moz-box-shadow: 3px 3px 4px #ffe1b5;-webkit-box-shadow: 3px 3px 4px #ffe1b5;box-shadow: 3px 3px 4px #ffe1b5;}

.ioncton_cont{ width: 100%; height: auto; overflow: hidden; margin-top: 20px;}

.onicut{ width: 480px; height: auto; overflow: hidden; float: right;}

.onicut h3{ width: 100%; height: 40px; line-height: 40px; color: #555555; font-size: 16px;}

.onicut p{ width: 100%; height: auto; line-height: 30px; color: #888888; font-size: 14px;}

.titesb{ width: 100%; height: 60px; line-height: 60px; font-size: 32px; text-align: center;}

.aoncont{ width: 100%; height: auto; overflow: hidden; margin-top: 20px;}

.aoncont_left{ width: 720px; height: auto; overflow: hidden; float: left;}

.aoncont_left_img{ width: 100%; height: auto; overflow: hidden;}

.img_tist{ width: 100%; height:480px;}

.img_tist img{ width: 100%; height: 100%;}

.omert{ width: 100%; height: 120px; margin-top: 20px;}

.omert ul{ padding: 0; margin: 0;}

.omert ul li{ width: 160px; height: 120px; float: left; margin-right: 26px;}

.omert ul li:last-child{margin-right:0;}

.omert ul li:hover{ cursor: pointer;}

.onipert{ width: 100%; height: auto; overflow: hidden; margin-top: 20px;}

.bists th{    white-space: nowrap;  padding: 15px; text-align: left; border-bottom: none; background: none; color: #4c4c4c; font-size: 14px;}

.bists td{   white-space: nowrap;  padding: 15px; text-align: left; color:#333333; border-bottom: none; color: #4c4c4c; font-size: 14px;}

.bists tr{ height:auto; overflow:hidden; }

.bists table{ width:100%; }

.aoncont_right{ width: 470px; height: auto; overflow: hidden; float: left; margin-left: 45px;}

.mioput{ width: 100%; height: 140px; padding-top: 20px; box-sizing: border-box; border-bottom: 1px solid #DDDDDD;}

.mioput_top{ width: 100%; height: 40px; line-height: 40px; color: #555555;}

.mioput_top a{text-decoration: line-through;}

.mioput_top1{ width: 100%; height: 70px; line-height: 70px; color: #555555;}

.mioput_top1 b{ color:#FF9900; font-size: 40px; font-weight: 500;}

.aoncont_time{ width: 100%; height: auto; overflow: hidden;}

.tome_omt{ width: 100%; height: 80px; padding: 20px 0; box-sizing: border-box;}

.tome_omt_left{ width: 100px; height: 40px; line-height: 40px; color: #555555; float: left;}

.tome_omt_right{ width: 300px; float: left; margin-left: 10px; height: 40px;}

.ont_inp_1{ width: 180px; height: 40px; border: 1px solid #dddddd; box-sizing: border-box; color: #555555;  border-radius: 5px;
 padding-right: 40px; background: url(../img/xq01.png) no-repeat 90% center; text-indent: 20px;}
 
 .ont_inp_2{ width: 80px; height: 40px; border: none; box-sizing: border-box; color: #FFFFFF;  border-radius: 5px; background:#FF9900; margin-left: 10px; }

.tome_omt_right1{ width: 360px; float: right; height: 40px;}

.jiunter{ width: 100px; height: 40px; float: left;}

.appjian{ width: 26px; height: 40px; float: left; line-height:  40px; background: #dddddd; text-align: center; }

.appjia{ width: 26px; height: 40px; float: left; line-height:  40px; background: #dddddd; text-align: center;}

.appcont{ width:  40px; height:  40px; float: left; line-height: 40px; text-align: center; font-size: 16px; border: 1px solid #DDDDDD; box-sizing: border-box;}

.sopm{ width: 200px; float: left; height: 40px; line-height: 40px; color: #ff0000; margin-left: 10px;}

.hern{ width: 100%; height: 50px; margin-top: 40px;}

.hern input{ width: 160px; height: 50px; display: block; margin: 0 auto; background: #FF9900; color: #FFFFFF; border-radius: 5px; border: none;}

.hern input:hover{ cursor: pointer;}

.bistor{ width: 100%; height: auto; overflow: hidden;}

.bistor h2{ width: 100%; height:80px; line-height: 80px; color: #FF9900; }

.bistor h2 b{ font-size: 50px; margin-left: 20px;}

.bioert{ width: 100%; height: auto; overflow: hidden;}

.bioert_tite{ width: 100%; height: 40px; line-height: 40px; color: #FF9900;}

.bioert_cont{ width: 100%; height: auto; overflow: hidden;}

.ord_div{ width: auto; overflow: hidden; height: 40px; line-height: 40px; float: left; margin-right: 20px;}

.ord_div_left{ width: auto; float: left; font-size: 14px; color: #333333; }

.ord_div_right{ width: auto; float: left; font-size: 14px; color: #888888;}

.voert{ width: 100%; height: auto; overflow: hidden;}

.voert_tite{ width: 100%; height: 40px; line-height: 40px; color: #FF9900; }

.voert_tb{ width: 100%; height: auto; overflow: hidden;}

.voert_tb th{    word-wrap:break-word; word-break:break-all;  padding: 15px; text-align: left; border-bottom: none; background:#ffe0b2; color: #4c4c4c; font-size: 14px;}

.voert_tb td{   word-wrap:break-word; word-break:break-all;  padding: 15px; text-align: left; color:#333333; border-bottom: 1px solid #ffe0b2; color: #4c4c4c; font-size: 14px;}

.voert_tb tr{ height:auto; overflow:hidden; }

.voert_tb table{ width:100%; }

.mindet .layui-layer-content{ width: 300px; min-height: 50px; padding: 20px; box-sizing: border-box; text-align: center; border-radius: 5px;}

.ontorb{ width: 100%; height: 30px; line-height: 30px; color:red; font-size: 14px;}

.oneme{ width: 100%; height: auto; overflow: hidden; margin-top: 20px;}

.oneme_cont{ width: 100%; height: auto; overflow: hidden; margin-bottom: 10px;}

.oneme_cont_left{width: 90px; height: 40px; float: left; line-height: 40px;}

.oneme_cont_right{ width: 400px; margin-left: 10px; height: auto; overflow: hidden; float: left;}

.oneme_cont_right_inp{ width: 300px; height: 40px; border: 1px solid #cccccc; box-sizing: border-box; border-radius: 5px; text-indent: 10px;}

.oneme_cont_right b{ color: red;}

.oneme_cont_right_select{ width: 300px; height: 40px; border: 1px solid #cccccc; box-sizing: border-box; border-radius: 5px; padding-left: 10px;}

.oneme_cont_right_textarea{ width: 300px; height: 100px; border: 1px solid #cccccc; box-sizing: border-box; border-radius: 5px; text-indent: 10px; resize:none;}

.oneme_but{ width: 100%; height:40px; margin-top: 20px;}

.oneme_but input{ width: 160px; height: 40px; display: block; margin-left: 100px; border-radius: 5px; background: #FF9900; color: #ffffff; border: none;}

.ziotop{ width:480px; height: auto; overflow: hidden; float: right;}

.ziotop h3{ font-size: 18px; color: #ff9900; line-height: 40px;}

.ziotop p{ font-size: 16px; color: #888888; line-height: 40px;}

.register1{ width: 1280px; height: auto; overflow: hidden; margin: 20px auto 40px; }

.problem{ width: 100%; height: 662px; overflow: hidden; border: 1px solid #ff9900; box-sizing: border-box; margin-top: 20px;}

.problem_left{ width: 150px; height: 660px; border-right: 1px solid #dddddd; box-sizing: border-box; float: left;}

.problem_left ul{ padding: 0; margin: 0;}

.problem_left ul li{ width: 100%; height: 50px; text-align: center; line-height: 50px; font-size: 16px;white-space: nowrap;  
overflow: hidden;-o-text-overflow: ellipsis; text-overflow: ellipsis;}

.inavcr{ background: #FF9900; color: #FFFFFF;}

.problem_right{ width:1120px; height: 660px; float: right; padding: 30px; overflow: auto; box-sizing: border-box;}

.problem_right .minorigth:first-child{display: block;}

.minorigth{ width: 100%; height: auto; overflow: hidden; display: none;}

.minorigth_dist{ width: 100%; height: auto; overflow: hidden; margin-bottom: 20px;}

.minorigth_dist h3{ width: 100%; height: 40px; line-height: 40px; font-size: 18px; color: #555555;}

.minorigth_dist p{ width: 100%; height: auto; line-height: 30px; font-size: 14px; color: #888888;}

.aj_left{ width: 540px; height: auto; overflow: hidden; float: left;}

.aj_left h3{ width: 100%; height: 40px; line-height: 40px; color: #888888;}

.aj_left p{ width: 100%; height: auto; line-height: 40px; color: #888888;}

.aj_left span{ width: 100%; height: 40px; line-height: 40px; color: red;}

.aj_right{ width: 400px; height: auto; overflow: hidden; float: right;}

.aj_right h3{ width: 100%; height: 40px; line-height: 40px; color: #555555;}

.aj_right p{ width: 100%; height: auto; line-height: 40px;}

/*烦人的页面 客房详情*/


.Items{ width: 100%; height: auto; overflow: hidden; border: 1px solid #FF9900; box-sizing: border-box; margin: 20px 0;}

.Items th{  padding: 15px; text-align: left; border-bottom: none; background:none; color: #4c4c4c; font-size: 14px;}

.Items td{  padding: 15px; text-align: left; color:#333333; border-bottom: none; color: #4c4c4c; font-size: 14px;

word-wrap:break-word; word-break:break-all;}

.Items tr{height:auto; overflow:hidden; }

.Items table{ width:720px !important; }

.Items table tr:nth-child(even){background: #ffe0b2;}

.Timeplug{ width: 100%; height: auto; overflow: hidden; border: 1px solid #FF9900; box-sizing: border-box; margin-top: 20px;}

.Timeplug_time{ width: 100%; height: 76px; overflow: hidden; padding: 18px 30px 18px 0; box-sizing: border-box;}

.web_time{ width: 300px; height: 40px;}

.web_time_left{ width: 120px; height: 40px; line-height: 40px; text-align: center; float: left;}

.web_time_right{ width: 180px; height: 40px; float: right;}

.web_time_right input{ width: 100%; height: 100%; border: 1px solid #DDDDDD; box-sizing: border-box; border-radius: 5px; text-indent: 10px; padding-right: 40px;
 background: url(../img/xq01.png) no-repeat 95% center;}

.onertpis{ width: 100%; height:180px;}

.onertpis_tite{ width: 100%; height: 40px; background: #ff9900;}

.onertpis_tite_left{ width: 200px; height: 40px; float: left;}

.weekleft{ width: 60px; height: 26px; float: left; margin-left: 23px; border: 2px solid #FFFFFF; border-radius: 50px; margin-top: 7px;box-sizing: border-box;
 background: url(../img/fj01.png) no-repeat 10px center #ff7d26; text-indent: 30px; line-height: 24px; color: #FFFFFF;}

.weekleft:hover{ cursor: pointer;}

.onertpis_tite_right{width: 200px; height: 40px; float: right;}

.weekleft1{ width: 60px; height: 26px; float: left; margin-left: 23px; border: 2px solid #FFFFFF; border-radius: 50px; margin-top: 7px; box-sizing: border-box;
 background: url(../img/fj02.png) no-repeat 40px center #ff7d26; text-indent: 15px; line-height: 22px; color: #FFFFFF;}

.weekleft1:hover{ cursor: pointer;}

.onertpis_tite_cont{ width: 318px; height: 40px; float: left;}

.onertpis_tite_cont input{ width: 140px; height: 40px; margin: 0 auto; border: none; display: block; text-align: center; background: #ff9900; color: #FFFFFF;}

.onertpis_cent{ width: 100%; height: 140px;}

.onertpis_cent_left{ width: 168px;  float: left; background: #ffcc7f;}

.mintor{ width: 100%; height: 80px; line-height: 80px; color: #FFFFFF; text-align: center;}

.mintor1{ width: 100%; height: 60px; line-height: 60px; color: #FFFFFF; text-align: center;}

.onertpis_cent_right{ width: 550px;  float: right;}

.onertpis_cent_right ul{ padding: 0; margin: 0;}

.onertpis_cent_right ul li{ width: 14.28%;  overflow: hidden; float: left; text-align: center; border-left:1px solid #FFFFFF ; box-sizing: border-box;}

.onertpis_cent_right ul li p{ background: #ffcc7f; line-height: 30px; color: #FFFFFF;}

.onertpis_cent_right ul li span{ line-height: 50px; color: #ff9900;}

.vor{color: #3c9f59 !important;}

.web_index_but:hover{ cursor: pointer;}

.weborst{width: 1280px;min-height: 550px;overflow: hidden;margin: 30px auto;}

.weborst_time{ width: 600px; float: left; margin-left: 130px;}

.onertpis_tite_cont1{width: 200px;height: 40px; float: left;  }

.onertpis_tite_cont1 input {width: 140px;  height: 40px; margin: 0 auto; border: none;  display: block; text-align: center; background: #ff9900;   color: #FFFFFF;}

.weborst_cont{ width: 100%; height: auto; overflow: hidden; border: 1px solid #FF9900; margin: 20px auto; box-sizing: border-box;}

.weborst_cont_tite{ width: 100%; height: 90px; background: #ffcc7f; border-bottom: 1px solid #FF9900;}

.gimts{ width:280px; height: 90px; line-height: 90px; color: #FFFFFF; text-indent: 20px; float: left;}

.gimts_time{ width: 998px; float: right; height: 90px;}

.gimts_time ul{ padding: 0; margin: 0;}

.gimts_time ul li{ width: 14.28%; height: 140px; overflow: hidden; float: left; text-align: center; border-left:1px solid #FFFFFF ;
 box-sizing: border-box; }

.gimts_time ul li p{ background: #ffcc7f; line-height: 30px; color: #FFFFFF;}

.weborst_dome{ width: 100%; height: auto; overflow: hidden;}

.mapt{ width: 100%; height: 50px; border-bottom: 1px solid #dddddd;}

.mapt_left{ width: 280px; height: 50px; line-height: 50px; float: left;}

.lomt_left{ width:140px;color: #FFFFFF; text-indent: 20px; float: left; background: #ffcc7f;}

.lomt_right{ width: 140px; height: 50px; line-height: 50px; float: right; font-size: 20px; color: #3c9f59; text-align: center;}

.mapt_right{width: 998px; float: right; height: 50px;}

.mapt_right ul{ padding: 0; margin: 0;}

.mapt_right ul li{ width: 14.28%; height: 50px; line-height: 50px; overflow: hidden; float: left; text-align: center; box-sizing: border-box; color: #FF9900;}

.liomt{ color: #4ca666 !important;}

.liomt:hover{ cursor: pointer;}






/*会员中心*/

.MemberCenter{ width: 1280px; height: auto; overflow: hidden; margin: 20px  auto 40px;  box-sizing: border-box;}

.MemberCenter_tite{ width: 100%; height: 40px; background: #ff9900; }

.MemberCenter_tite span{ color: #FFFFFF; line-height: 40px; text-indent: 20px; display: block; width: 100px; float: left;}

.MemberCenter_tite ul{ padding: 0; margin-left:160px ; float: left;}

.MemberCenter_tite ul li{ width: 100px; height: 40px; line-height: 40px; float: left; text-align: center;}

.MemberCenter_tite ul li a{ color: #FFFFFF;}

.avcor{ background: #f4673d;}

.MemberCenter_cont{ width: 100%; min-height: 480px; overflow: hidden; margin-top: 20px;}

.formation{ width: 100%; height: auto; overflow: hidden;}

.formation_left{ width: 720px; height: auto; float:left;}

.formation_left p{ width: 100%; height: 40px; line-height: 40px; text-indent: 20px; color: #555555; position: relative;}

.on{ background: #ffebcc;}

.formation_left p span{ position: absolute; right: 30%; top:0; line-height: 40px; height: 40px; display: block; color: #FF9900;}

.formation_left p span:hover{ cursor: pointer;}

.formation_left p a{ position: absolute; right: 30%; top:0; line-height: 40px; height: 40px; display: block; color: #FF9900;}

.formation_right{ width: 530px; height: auto; overflow: hidden; float: right;}

.formation_right h3{ width: 100%; height: 40px; line-height: 40px; color: #FF9900;}

.formation_right p{ width: 100%; height: auto; line-height: 30px; color: #888888;}

.Integralmall{width: 100%; min-height: 400px; overflow: hidden; border: 1px solid #FF9900; box-sizing: border-box; padding: 0 20px;}

.Integralmall_tite{ width: 100%; height: 70px; line-height: 70px; color: #333333;}

.Integralmall_cont{ width: 100%; height: auto; overflow: hidden;}

.malls{ width: 260px; height: 260px; margin: 0 20px 40px; float: left;}

.malls_img{ width:100%; height:160px; border-radius: 10px; overflow: hidden;}

.malls_img img{ width: 100%; height: 100%;}

.malls_many{ width: 100%; height: 50px; line-height: 50px;}

.malls_many_left{ width: 50%; height: 50px; float: left; text-align: center; line-height: 50px; color: #333333;}

.malls_many_right{ width: 50%; height: 50px; float: left; text-align: center; line-height: 50px; color: #ff9900;}

.malls_but{ width: 100%; height: 30px;}

.malls_but input{ width: 90px; height: 30px; border-radius: 50px; color: #FFFFFF; display: block; margin: 0 auto; background: #FF9900; border: none;}

.malls_but input:hover{ cursor: pointer;}

.coil{ width: 100%; height: auto; overflow: hidden;}

.coil_tite{ width: 100%; height: 40px; margin-bottom: 20px;}

.coil_tite span{ float: left; line-height: 40px; margin-left: 40px; color: #555555; display: block; height: 40px;}

.coil_tite span b{ color: #FF9900; line-height: 40px; font-size: 20px; font-weight: 500; height: 40px; display: block; float: left;}

.coil_tite span strong{ color: #FF9900; line-height: 40px; font-weight: 500; height: 40px; display: block; float: left;}

.coil_tite a{ display: block; float: left; width:120px; height: 40px; background: #FF9900; border-radius: 50px; color: #FFFFFF; text-align: center; 
line-height: 40px; margin-left: 40px;}

.coil_tb{ width: 100%; height: auto; overflow: hidden; padding: 0 20px; box-sizing: border-box;}

.coil_tb th{    white-space: nowrap;  padding: 15px; text-align: left; border-bottom: none; background:#ffe0b2; color: #ff9900; font-size: 16px; text-align: center;}

.coil_tb td{   white-space: nowrap;  padding: 15px; text-align: left; color:#333333; border-bottom: 1px solid #ffe0b2; color: #555555; font-size: 16px; text-align: center;}

.coil_tb tr{ height:auto; overflow:hidden; }

.coil_tb table{ width:100%; }

.Recharge{ width: 100%; height: auto; overflow: hidden;}

.Recharge_tite{ width: 100%; height: 40px; line-height: 40px; text-indent: 20px; color: #555555;}

.Recharge_cont{ width: 100%; height: auto; overflow: hidden;}

.arge{ width: 100%; height: auto; overflow: hidden;}

.web_mi{ width: 200px; height: 200px; float: left; border: 1px solid #bbbbbb; float: left; margin: 20px; text-align: center; line-height: 200px; font-size: 45px;
color: #bbbbbb; border-radius: 5px; position: relative;}

.web_mi span{ width: 38px; height: 35px; position: absolute; right: 0; bottom: 0; line-height: 0 !important; display: none;}

.web_mi:hover{ cursor: pointer;}

.avtor{border: 1px solid #3c9f59 !important; color: #3c9f59 !important;}

.avtor span{display: block;}

.weixt{ width: 100%; height:160px; margin: 40px 0;}

.weixt_miop{ width: 120px; height: 160px; margin: 0 auto; text-align: center;}

.weixt_miop p{ width: 100%;}

.weixt_miop p img{ width: 100%;}

.hont:hover{cursor: pointer;}

/*注册*/

.register{ width: 1280px; min-height: 560px; overflow: hidden; margin: 20px  auto 40px; border: 1px solid #ff9900; box-sizing: border-box;}

.register_tite{ width: 100%; height: 40px; background: #ff9900; color: #FFFFFF; line-height: 40px; text-indent: 20px;}

.register_cont{ width: 800px; height: auto; overflow: hidden; padding: 60px 0; margin-left: 400px;}

.minjot{ width: 100%; height: 40px; margin-bottom: 20px;}

.minjot_left{ width:120px; height: 40px; line-height: 40px; float: left;}

.minjot_left b{ color: red;}

.minjot_inout{ width: 300px; height: 40px; float: left;}

.register_input_1{ width: 100%; height: 40px; box-sizing: border-box; border: 1px solid #cccccc; text-indent: 10px; border-radius: 5px;}

.minjot_right{ min-width: 300px; height: 40px; line-height: 40px; color: #ff0000; float: left; font-size: 14px; margin-left: 20px;}

.register_ele_1{ width: 100%; height: 40px; box-sizing: border-box; border: 1px solid #cccccc; padding-left: 10px; border-radius: 5px;}

.register_input_2{ width: 55%; height: 40px; box-sizing: border-box; border: 1px solid #cccccc; text-indent: 10px; border-radius: 5px; float: left;}

.register_input_3{ width: 40%; height: 40px;  border-radius: 5px; float: right;}

.register_input_3 img{ width: 100%; height: 100%;}

.register_input_4{ width: 40%; height: 40px;  border-radius: 5px; float: right; background: #FF9900; color: #FFFFFF; text-align: center; line-height: 40px;}

.register_bot{ width: 260px; height: auto; overflow: hidden; margin: 40px 0 0 170px;}

.z_int{ width: 100%; height: 40px; line-height: 40px;}

.z_int span{ padding-left: 20px; display: block; float: left; width: auto; height: 40px; background: url(../img/zc03.png) no-repeat left center; position: relative; font-size: 12px;}

.z_int span input{position: absolute; left: 0; top: 0; opacity: 0;}

.z_int span:hover{ cursor: pointer;}

.z_int a{ color: #FF9900; font-size: 12px;}

.dh_bo{ width: 160px; height: 40px; background: #FF9900; border: none;border-radius: 5px; color: #FFFFFF;}

.register_xy{ width: 100%; height: auto; overflow: hidden; padding: 30px; box-sizing: border-box; color: #555555;}

.fh{ width: 160px; height: 40px; background: #FF9900; border: none;border-radius: 5px; color: #FFFFFF; display: block; margin: 30px auto; text-align: center; line-height: 40px;}


/*登录*/

.nater{ width: 100%; height: 123px; background: #FFFFFF;}

.navs{ width:1060px; height: 123px;  margin: 0 auto; z-index: 99; position: relative;}

.navs ul{ padding: 0; margin: 0;}

.navs ul li{ width: auto; height: 123px; padding: 0 40px; line-height: 123px; background: url(../img/yan01.png) no-repeat right center;}

.navs ul li a{ color: #333333; font-size: 18px;}

.liop{ background: none !important;}

.navs span{ position: absolute; left: 50%; top: 18px; margin-left: -35px;}

.onty{ width: 100%; height:600px; background-image: url(../img/go.png); background-repeat: no-repeat; background-size: 100% 100%; position: relative;}

.web_login{ width:420px ; height: 430px; background: #FFFFFF; position: absolute; top: 80px; right: 18%; border-radius: 10px; padding: 26px 60px; box-sizing: border-box;}

.login_tite{ width: 100%; height:60px; line-height: 60px; font-size: 26px; color: #333333;}

.login_tite a{ float: right; color: #3c9f59; font-size: 18px;}

.login_cont{ width: 100%; height: 40px; margin-top: 23px;}

.login_inp_1{ width: 100%; height: 40px; border: 1px solid #999999; border-radius: 5px; text-indent: 10px; font-size: 16px; box-sizing: border-box;}

.login_inp_2{ width:55%; height: 40px; float: left; border: 1px solid #999999; border-radius: 5px; text-indent: 10px; font-size: 16px; box-sizing: border-box;}

.login_inp_3{ width:40%; height: 40px; float: right; }

.login_inp_3 img{ width: 100%; height: 100%;}

.moingop{ width: 100%; height: auto; overflow: hidden; margin-top: 30px;}

.moingop_a{ width: 100%; height: 30px; line-height: 30px; text-align: right; color: #427efe; font-size: 13px; display: block;}

.login_but{ width: 100%; height: 40px; background: #ff9900; color: #FFFFFF; font-size: 16px; border: none; border-radius: 5px;}

.login_but:hover{ cursor: pointer;}


/*底部*/
.forder{ width:100%; height: 190px; padding: 20px 0; box-sizing: border-box; background: #414649; text-align: center;}

.nav_1{ width: 650px; height: 50px; margin: 0 auto;}

.nav_1 ul{ padding: 0; margin: 0;}

.nav_1 ul li{ width: 16.6%; float: left;  height: 50px; line-height: 50px; text-align: center; background: url(../img/ssf.png) no-repeat right center;}

.nav_1 ul li a{color: #FEFFFE; font-size: 14px;}

.nav_1 ul li:hover{ cursor: pointer;}

.nav_1 ul li:last-child{ background: none;}

.nav_2{ width: 500px; height: 50px; margin: 10px auto;}

.nav_2 ul{ padding: 0; margin: 0;}

.nav_2 ul li{ min-width: 100px; float: left;  height: 50px; line-height: 50px; text-align: center;  padding-left:50px ;}

.nav_2 ul li a{color: #FEFFFE; font-size: 20px;}

.nav_2 ul li:hover{ cursor: pointer;}

.ind_li_1{ background: url(../img/sy06.png) no-repeat 10px center;}

.ind_li_2{ background: url(../img/sy07.png) no-repeat 10px center;}

.ind_li_3{ background: url(../img/sy08.png) no-repeat 10px center;}

.footerp{ width: 100%; height: 40px; line-height: 40px; text-align: center; color: #FFFFFF; margin-top: 10px; font-size: 14px;}


/*登录底部*/
.forder1{ width:100%; height: 190px; padding: 20px 0; box-sizing: border-box; background: #FFFFFF; text-align: center;}

.nav_3{ width: 650px; height: 50px; margin: 0 auto;}

.nav_3 ul{ padding: 0; margin: 0;}

.nav_3 ul li{ width: 16.6%; float: left;  height: 50px; line-height: 50px; text-align: center; background: url(../img/ssf.png) no-repeat right center;}

.nav_3 ul li a{color: #333333; font-size: 14px;}

.nav_3 ul li:hover{ cursor: pointer;}

.nav_3 ul li:last-child{ background: none;}

.nav_4{ width: 500px; height: 50px; margin: 10px auto;}

.nav_4 ul{ padding: 0; margin: 0;}

.nav_4 ul li{ min-width: 100px; float: left;  height: 50px; line-height: 50px; text-align: center;  padding-left:50px ;}

.nav_4 ul li a{color: #333333; font-size: 20px;}

.nav_4 ul li:hover{ cursor: pointer;}

.footerp1{ width: 100%; height: 40px; line-height: 40px; text-align: center; color: #333333; margin-top: 10px; font-size: 14px;}

.ind_li_4{ background: url(../img/dl03.png) no-repeat 10px center;}

.ind_li_5{ background: url(../img/dl04.png) no-repeat 10px center;}

.ind_li_6{ background: url(../img/dl05.png) no-repeat 10px center;}





/*公用弹窗*/

.sancu { width:100%; height:auto; overflow:hidden;  -moz-border-radius: 10px !important; -webkit-border-radius: 10px !important;border-radius: 10px !important;  box-sizing:border-box; background:#FFF; }

.sancu .layui-layer-title{padding:0px; height:40px; line-height:40px; text-indent: 20px; background:#28a4b0; color:#FFF;  }

.sancu .layui-layer-content{padding:0px !important; line-height:80px !important; text-indent: 20px;  font-size: 16px  !important;}

.sancu .layui-layer-btn{padding:0px;height:40px; line-height:80px; text-align:center;}

.sancu .layui-layer-btn0{padding:0px;width:30%; float:left; margin-left:25%; height:30px; background:#FFFFFF !important; line-height:30px; color:#28a4b0 !important; text-align:center; margin-bottom:10px;
 border:1px solid #28a4b0 !important;  -moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius: 5px;}

.sancu .layui-layer-btn0:hover{ cursor:pointer;}

.sancu .layui-layer-btn1{padding:0px;width:30%; float:left; margin-left:5%; height:30px; background:#28a4b0 !important; color:#FFF !important; line-height:30px; text-align:center;  margin-bottom:10px;  
border:1px solid #28a4b0 !important;  -moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius: 5px;}

.sancu .layui-layer-btn1:hover{ cursor:pointer;}

.layui-layer-hui .layui-layer-content{ color: #FFFFFF;}

.sancu .layui-layer-ico{color: #FFFFFF !important;}



/*弹窗input*/
.enction_tite{ width: 100%; height: 60px; line-height: 60px; background: #ff9900; font-size: 18px; color: #FFFFFF; padding: 0 30px; box-sizing: border-box;}

.enction_cont{ width: 100%; height: auto; overflow: hidden; padding: 20px 30px; box-sizing: border-box;}

.enction_diti{ width: 100%; height: 40px; margin-bottom: 20px;}

.enction_diti_left{ width: 20%; height: 40px; line-height: 40px; float:left; font-size: 16px; color: #4d4d4d;}

.enction_diti_right{ width: 76%; height: 40px; float: right; border: 1px solid #f0f0f0;font-size: 16px; border-radius: 5px; overflow: hidden;}

.enction_diti_right input{ width: 100%; height: 100%; border: none; text-indent: 20px;}

.dister{ width: 100%; height: 40px;}

.dister_but_1{ width: 120px; height: 40px;  border: none; background: #ff9900; color: #ffffff;  border-radius:10px ; font-size: 16px; float: right; margin-left: 10px;}

.dister_but_2{ width: 120px; height: 40px;  border: 1px solid #ff9900; color: #ff9900;  background: #FFFFFF;  border-radius:10px ; font-size: 16px; float: right;}

.dister_but_1:hover{ cursor: pointer;}

.dister_but_2:hover{ cursor: pointer;}

.binort{ width: 60% !important; float: left;}

.binort1{ width: 40% !important; float: left; color: #898989; text-indent: 0 !important;}

.binort1:hover{ cursor: pointer;}


/*公用字颜色*/

.web_cor_1{ color: #888888 !important;}/*灰色*/

.web_cor_2{ color: red !important;}/*红色*/

.web_cor_3{ color: #1ca04a !important;}/*红色*/

/*公用按钮颜色*/

.web_but_2{color: #ff9900; padding: 5px 10px; border: 1px solid #ff9900; border-radius: 5px;}/*橙色*/

.web_but_2:hover{ background: #ff9900; color: #FFFFFF;}

.web_but_3{color: #ff3333; padding: 5px 10px; border: 1px solid #ff3333; border-radius: 5px;}/*红色*/

.web_but_3:hover{ background: #ff3333; color: #FFFFFF;}

.web_but_4{color: #0ba3ae; padding: 5px 10px; border: 1px solid #0ba3ae; border-radius: 5px;}/*青色*/

.web_but_4:hover{ background: #0ba3ae; color: #FFFFFF;}

.web_but_5{color: #41acff; padding: 5px 10px; border: 1px solid #41acff; border-radius: 5px;}/*蓝色*/

.web_but_5:hover{ background: #41acff; color: #FFFFFF;}

.web_but_6{color: #1ca04a; padding: 5px 10px; border: 1px solid #1ca04a; border-radius: 5px;}/*绿色*/

.web_but_6:hover{ background: #1ca04a; color: #FFFFFF;}

.defaultleft{ float: left; padding-top: 2px; margin-left: 20px;}


/*自己加的样式--开始*/
.layui-flow-more a cite{background-color: #FFFFFF!important;padding: 7px 0px!important;border-radius:0;color:#3c9f59!important;}
.layui-flow-more{clear: both;}
.layui-flow-more a{line-height:0px;width: 180px;height: 50px!important; border: 1px solid #3c9f59;  box-sizing: border-box;  color: #3c9f59;  display: block;  margin: 0 auto;  background: #FFFFFF;}
.wordOver{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*自己加的样式--结束*/

/*晓磊后加的支付--开始*/
.zenmint{width: 100%; min-height:500px;overflow: hidden; border: 1px solid #ff9900; box-sizing: border-box; padding: 10px;}
.zenibut{ width: 120px; height: 40px; background: #ff9900; color: #FFFFFF; border: none; border-radius: 5px; margin-top: 20px;}
.ongrt{ width: 100%; height: 40px; border-bottom: 1px solid #ff9900; line-height: 40px; box-sizing: border-box;}
.ongrt ul{ padding: 0; margin: 0;}
.ongrt ul li{ width: 120px; height: 40px; float: left; text-align: center; box-sizing: border-box;}
.aisaver{ border: 1px solid #ff9900; border-bottom: 1px solid #FFFFFF; box-sizing: border-box;}
.moigt{ width: 100%; height: auto; overflow: hidden;  margin-top: 40px;}
.moigt p{ line-height: 40px; text-align: center;}
.moigt_cont{ width: 100%; height: auto; overflow: hidden;}
.moigt_cont .moigt:last-child{ display: none;}
/*自己加的*/
.coupon_exc{width: auto;margin-left:5px;background-color: #ff9900;float: left;padding: 0 10px 0 10px;color: #ffffff;border-radius: 5px;}
/*晓磊后加的支付--结束*/

/*电子券兑换开始-晓磊*/
.biomt{ width: 100%; height: 30px; line-height: 30px; margin-top: 20px; float: left; padding-left: 110px; box-sizing: border-box; font-size: 16px;
	color:#707070;}
.minort{ width: 150px; height: 40px; text-align: center; line-height: 40px; margin: 0 auto; display: block; background: #ff9900; color: #FEFFFE;
	border-radius: 5px;}
.biue{ width: 100%; height: 50px; display: block; float: left; margin-top: 50px;}
/*电子券兑换结束-晓磊*/

/*活动-系统消息开始-晓磊*/
.bioter{ width:627px; height: 150px; border: 1px solid #ff9900; box-sizing: border-box; padding: 10px; float: left; margin-bottom: 20px;}
.bioter_left{ width: 150px; height: 130px; float: left;}
.bioter_left img{ width: 100%; height: 100%;}
.MemberCenter_cont .bioter:nth-child(2n){ float: right;}
.bioter_right{ width:600px; height: 130px; float: right;}
.bioter_tite{ width: 100%; height: 40px; line-height: 40px; border-bottom: 1px solid #dddddd;}
.bioter_tite span{ color: #999; font-size: 12px;}
.bioter_cont{ width: 100%; height: 90px; position: relative;}
.bioter_cont p{ width: 100%; height: 100%; line-height: 30px; padding-top: 10px; box-sizing: border-box;}
.bioter_cont a{ position: absolute; bottom: 5px; right: 5px; font-size: 12px; color: #ff9900;}
/*活动-系统消息-晓磊*/

/*转赠电子券-晓磊*/
.biue{ width: 100%; height: 50px; display: block; float: left; margin-top: 50px;}
.iopes{ width: 100%; height: 40px; margin-top: 20px;}
.iopes_left{ width: 10%; height: 40px; float: left; line-height: 40px; text-align: right;}
.iopes_right{ width: 40%; height: 40px; float: left; margin-left: 20px;}
.meinht{ width: 100%; height: 40px; border: 1px solid #ff9900; border-radius: 5px; padding-left: 20px; box-sizing: border-box;}
/*转赠电子券-晓磊*/

@media screen and (max-width: 1366px) {
	.web_Login {width: 350px;height: 600px; margin: 30px auto 0;}
}

