<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <cite>财务统计</cite>
            </li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <div class="conter">
                    <div class="conter_sait">
                        <form action="">
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="start" autocomplete="off" placeholder="点击选择起始日期" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">至
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="end" autocomplete="off" placeholder="点击选择结束日期" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="wort">
                                <button type="submit" class="layui-btn">查找</button>
                            </div>
                            <!--<div class="wort">
                                <a href="__URL__/export?{$info}"><button type="button" class="layui-btn layui-btn-normal">导出</button></a>
                            </div>-->
                        </form>
                    </div>
                    <div class="botg">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>日期</th>
                                <th>收入</th>
                                <th>支出</th>
                                <th>沉淀</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="db" id="list">
                                <tr>
                                    <td>{$list.time|date='Y-m-d',###}</td>
                                    <td>{$list.inMoney}</td>
                                    <td>{$list.outMoney}</td>
                                    <td>{$list.sideMoney}</td>
                                    <td><a class="z_coios_4" href="__URL__/see/date/{$list.time|date='Y-m-d',###}">查看明细</a></td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="feniou">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
    })
</script>