<div class="app_center">
    <div class="addWrap">
        <div class="swipe" id="mySwipe">
            <div class="swipe-wrap">
                <div><a href="javascript:;"><img class="img-responsive" src="__MOBILE__/img/hd01@2x.png"/></a></div>
                <div><a href="javascript:;"><img class="img-responsive" src="__MOBILE__/img/hd01@2x.png" /></a></div>
                <div><a href="javascript:;"><img class="img-responsive" src="__MOBILE__/img/hd01@2x.png"/></a></div>
                <div><a href="javascript:;"><img class="img-responsive" src="__MOBILE__/img/hd01@2x.png" /></a></div>
            </div>
        </div>
        <ul id="position">
            <li class="cur"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="app_lint">
        <div class="app_Guest_cont flow-default" id="view">
        </div>
    </div>
</div>
<script type="text/html" id="layout">
    <a href="__URL__/environmentEdit/id/{{d.id}}" class="Guest">
        <div class="Guest_left">
            <img src="{{d.icon}}">
        </div>
        <div class="Guest_right">
            <span><img src="__MOBILE__/img/my05@2x.png"></span>
            <h3>{{d.name}}</h3>
            <p>简介：{{d.word}}</p>
        </div>
    </a>
</script>
<script type="text/javascript">
yin.lists({
    url: '__URL__/campaign/type/a'
});
</script>