<style type="text/css">
.layui-flow-more {
    clear: both;
}

.bbbb {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>
<div class="app_center">
    <div class="addWrap">
        <div class="swipe" id="mySwipe">
            <div class="swipe-wrap">
                <div><a href="javascript:;"><img class="img-responsive" src="__MOBILE__/img/sy01@2x.png"/></a></div>
                <div><a href="javascript:;"><img class="img-responsive" src="__MOBILE__/img/sy01@2x.png" /></a></div>
                <div><a href="javascript:;"><img class="img-responsive" src="__MOBILE__/img/sy01@2x.png"/></a></div>
                <div><a href="javascript:;"><img class="img-responsive" src="__MOBILE__/img/sy01@2x.png" /></a></div>
            </div>
        </div>
        <ul id="position">
            <li class="cur"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="app_Shortcut">
        <div class="Shortcut">
            <p><a href="{:U('Rooms/index')}"><img src="__MOBILE__/img/sy02@2x.png"></a></p>
            <p>客房</p>
        </div>
        <div class="Shortcut">
            <p><a href="{:U('Index/restaurant')}"><img src="__MOBILE__/img/sy03@2x.png"></a></p>
            <p>餐饮</p>
        </div>
        <div class="Shortcut">
            <p><a href="{:U('Index/environment')}"><img src="__MOBILE__/img/sy04@2x.png"></a></p>
            <p>环境</p>
        </div>
        <div class="Shortcut">
            <p><a href="{:U('Index/campaign')}"><img src="__MOBILE__/img/sy05@2x.png"></a></p>
            <p>体验活动</p>
        </div>
        <div class="Shortcut">
            <p><a href="{:U('Index/package')}"><img src="__MOBILE__/img/sy06@2x.png"></a></p>
            <p>套餐</p>
        </div>
        <div class="Shortcut">
            <p><a href="{:U('Self/club')}"><img src="__MOBILE__/img/sy07@2x.png"></a></p>
            <p>会员俱乐部</p>
        </div>
        <div class="Shortcut">
            <p><a href="{:U('Self/index')}"><img src="__MOBILE__/img/sy08@2x.png"></a></p>
            <p>个人中心</p>
        </div>
        <div class="Shortcut">
            <p><a href="{:U('Orders/index')}"><img src="__MOBILE__/img/sy09@2x.png"></a></p>
            <p>我的订单</p>
        </div>
    </div>
    <div class="app_lint">
        <div class="app_lint_tite">
            <img src="__MOBILE__/img/sy10@2x.png" />
        </div>
        <div class="app_cont flow-default" id="view" url="__URL__/index">
        </div>
    </div>
</div>
<script type="text/html" id="layout">
    <a href="{{d.url}}">
        <div class="app_lint_cont">
            <span><img src="{{d.icon}}"></span>
            <h3>{{d.name}}</h3>
            <p class="bbbb">{{d.word}}</p>
        </div>
    </a>
</script>
<script type="text/javascript">
yin.lists();
</script>