<div class="app_center" style="margin-bottom: 120px;">
    <div class="web_form">
        <div class="web_flocg">
            <div class="web_flocg_left">
                在树屋中共度浪漫纪念日
            </div>
            <div class="web_flocg_right">
                <a>￥2588</a>
            </div>
        </div>
        <div class="select_start_date">
            <div class="start_date_left">
                入住日期
            </div>
            <div class="start_date_right">
                <input type="text" name="start_date" id="start_date" placeholder="点击选择入住日期" readonly="readonly" />
            </div>
        </div>
        <div class="web_flocg">
            <div class="web_flocg_left">
                数量<span>（每人限购一份）</span>
            </div>
            <div class="web_flocg_right">
                <div class="jiunter">
                    <div class="appjian"><img src="__MOBILE__/img/tc07@2x.png"></div>
                    <div class="appcont">1</div>
                    <div class="appjia"><img src="__MOBILE__/img/tc06@2x.png"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="app_dist">
        <div class="app_dist_tite">
            <div class="app_dist_tite_img">
                <img src="__MOBILE__/img/myct02@2x.png">
            </div>
            <div class="app_dist_tite_colo">
                套餐内容
            </div>
        </div>
        <div class="app_dist_cont">
            <div class="tibot">
                <ul>
                    <li>套餐内容</li>
                    <li>单价</li>
                    <li>数量/规格</li>
                    <li>小计</li>
                </ul>
            </div>
            <div class="tibot_1">
                <ul>
                    <li>内容内容内容内容内容</li>
                    <li>699.00</li>
                    <li>1份</li>
                    <li>699.00</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="app_dist">
        <div class="app_dist_tite">
            <div class="app_dist_tite_img">
                <img src="__MOBILE__/img/kf06@2x.png">
            </div>
            <div class="app_dist_tite_colo">
                预定须知
            </div>
        </div>
        <div class="app_dist_cont">
            <p>预订规则及操作：</p>
            <p>1. 所有房型都可以布置</p>
            <p>2. 需提前7天预订</p>
            <p>3. 需预付全款，来电客服预订、支付宝转帐或银行汇款付费</p>
            <p>4. 套餐费用不含住宿，须另行订房。住宿费用及预订政策参照官网</p>
            <p>5. 若因个人原因取消，入住7日前提出，可全额退款。7天内取消需扣除50%违约金，2天内取消需扣除95%违约金</p>
            <p>6. 若因景区原因取消套餐，全额退款</p>
            <p>预订请联系客服专线：81098688 </p>
        </div>
    </div>
    <div class="app_dist">
        <div class="app_dist_tite">
            <div class="app_dist_tite_img">
                <img src="__MOBILE__/img/tc10@2x.png">
            </div>
            <div class="app_dist_tite_colo">
                套餐详情
            </div>
        </div>
        <div class="app_dist_cont">
            <p> 第一次带她来云峰山是我“预谋已久”的求婚。我们的车子经过荒郊野外，终于抵达云峰山时，我俩都惊喜不已，我没有选错地方，她很喜欢，这里就像一片世外桃源，于是，顺理成章的我在童话树屋中表达要携手一生的愿望。 第二次带她来童话树屋是庆祝结婚纪念日。为我们的婚姻之舟终于划过浅滩和暗礁，步入风平浪静的大海而小小庆祝一番。 第三次来云峰山，是我们的宝宝3周岁生日，我想要她的童年像童话一样美好，所以，我带她来这座“梦幻岛”。 第四次来云峰山，是带着父母，他们一起风雨同舟跨越了半个多世纪，虽然吵吵闹闹，互相“嫌弃”，但世界上却找不出第二个更般配的，我想帮他们庆祝这唠唠叨叨又浪漫的婚姻，所以，也为他们定了一栋童话树屋，算作儿女的一点心意。 点击下方链接，现在预订房间~ </p>
        </div>
    </div>
    <div class="dist_but">
        <a>点击查看纪念日当日空房</a>
    </div>
</div>
<div class="dist_but1 " style="margin-bottom: 60px;">
    <a href="{:U('Orders/prepareOrderPackage')}">立即预定</a>
</div>