<div class="message">
    <div class="am_collection"> 我的余额
    </div>
    <div class="am_bgol">
        <div class="boxt_hend">
            <ul>
                <li class="leot_2">酒店名称</li>
                <li class="leot_1">房间类型</li>
                <li class="leot_2">酒店电话</li>
                <li class="leot_1">剩余时长</li>
            </ul>
        </div>
        <div class="boxt_cont" id="view" url="__ACTION__">
        </div>
    </div>
</div>
<script type="text/html" id="layout">
    <div class="am_con">
        <ul>
            <li class="leot_2" style="width: 25%;">{{d.hotelName}}</li>
            <li class="leot_2" style="width: 25%;">{{d.roomName}}</li>
            <li class="leot_2" style="width: 30%;">{{d.mobile}}</li>
            <li class="leot_1" style="width: 20%;">{{d.have}}小时</li>
        </ul>
    </div>
</script>


