<div class="app_center">
    <div class="app_account">
        <div class="account_1">
            <div class="app_name_2">
                消费余额
            </div>
            <div class="app_name_3">
                0.00
            </div>
        </div>
    </div>
    <div class="erpt_fr">
        <div class="erpt_fr_cont">
            <a class="left">￥1058 </a>
            <div class="fr_l1 right">
                <input type="checkbox">
            </div>
        </div>
        <div class="erpt_fr_cont">
            <a class="left">￥1058 </a>
            <div class="fr_l1 right">
                <input type="checkbox">
            </div>
        </div>
        <div class="erpt_fr_cont">
            <a class="left">￥1058 </a>
            <div class="fr_l1 right">
                <input type="checkbox">
            </div>
        </div>
        <div class="erpt_fr_cont">
            <a class="left">￥1058 </a>
            <div class="fr_l1 right">
                <input type="checkbox">
            </div>
        </div>
    </div>
    <div class="dist_but4 ">
        <a class="spoert" msg-tite="您是否充值？”">充值</a>
    </div>
</div>