<div class="app_center">
    <div class="integral_tite">
        <span>我的积分</span>
        <b>1000</b>
    </div>
    <div class="integral">
        <volist name="db" id="db">
            <div class="integral_cont">
                <div class="integral_left">
                    <img src="{$db.icon}">
                </div>
                <div class="integral_right">
                    <div class="integral_right_f">
                        <span>{$db.title}</span>
                        <b>{$db.sorce}积分</b>
                    </div>
                    <div class="integral_right_r">
                        <a class="diopr" href="__URL__/couponEdit/id/{$db.id}">详情</a>
                    </div>
                </div>
            </div>
        </volist>
    </div>
</div>