<div class="app_center" style="margin-bottom: 0px;">
    <style>
        .dist_but1 input {
            width: 60%;
            height: 5rem;
            line-height: 5rem;
            display: block;
            margin: 0 auto;
            background: #ff9900;
            text-align: center;
            color: #FFF9EC;
            font-size: 2rem;
            border-radius: 50px;
        }
        .app_dist{margin-bottom: 30px;}
    </style>
    <form action="__URL__/couponCheck" method="post" class="myForm">
        <div class="app_dist">
            <div class="app_dist_tite">
                <div class="app_dist_tite_img">
                    <img src="__MOBILE__/img/kf06@2x.png">
                </div>
                <div class="app_dist_tite_colo">
                    使用时间
                </div>
            </div>
            <div class="app_dist_cont">
                {$db.exprie_start} ~ {$db.exprie_end}
            </div>
        </div>
        <div class="app_dist">
            <div class="app_dist_tite">
                <div class="app_dist_tite_img">
                    <img src="__MOBILE__/img/kf06@2x.png">
                </div>
                <div class="app_dist_tite_colo">
                    剩余数量
                </div>
            </div>
            <div class="app_dist_cont">
                {$db.num}
            </div>
        </div>
        <div class="app_dist">
            <div class="app_dist_tite">
                <div class="app_dist_tite_img">
                    <img src="__MOBILE__/img/kf02@2x.png">
                </div>
                <div class="app_dist_tite_colo">
                    可使用的客房分类
                </div>
            </div>
            <div class="app_dist_cont">
                <volist name="db.houseCate" id="hcate">
                    <div style="width: auto;height: 4rem;line-height: 4rem;background-color: #ff9900;float: left;padding: 0 1rem 0 1rem;margin: 10px;color: #ffffff;border-radius: 5px;">{$hcate.title}</div>
                </volist>
            </div>
        </div>
        <div class="app_dist">
            <div class="app_dist_tite">
                <div class="app_dist_tite_img">
                    <img src="__MOBILE__/img/kf02@2x.png">
                </div>
                <div class="app_dist_tite_colo">
                    可使用的套餐分类
                </div>
            </div>
            <div class="app_dist_cont">
                <volist name="db.packageCate" id="pcate">
                    <div style="width: auto;height: 4rem;line-height: 4rem;background-color: #ff9900;float: left;padding: 0 1rem 0 1rem;margin: 10px;color: #ffffff;border-radius: 5px;">{$pcate.title}</div>
                </volist>
            </div>
        </div>
        <div class="app_dist">
            <div class="app_dist_tite">
                <div class="app_dist_tite_img">
                    <img src="__MOBILE__/img/kf02@2x.png">
                </div>
                <div class="app_dist_tite_colo">
                    可兑换的等级
                </div>
            </div>
            <div class="app_dist_cont">
                <volist name="db.level" id="level">
                    <div style="width: auto;height: 4rem;line-height: 4rem;background-color: #ff9900;float: left;padding: 0 1rem 0 1rem;margin: 10px;color: #ffffff;border-radius: 5px;">{$level.title}</div>
                </volist>
            </div>
        </div>
        <div class="app_dist">
            <div class="app_dist_tite">
                <div class="app_dist_tite_img">
                    <img src="__MOBILE__/img/kf03@2x.png">
                </div>
                <div class="app_dist_tite_colo">
                    兑换所需积分
                </div>
            </div>
            <div class="app_dist_cont">
                <p><b>{$db.sorce}</b>积分</p>
            </div>
        </div>
        <div class="app_dist">
            <div class="app_dist_tite">
                <div class="app_dist_tite_img">
                    <img src="__MOBILE__/img/kf03@2x.png">
                </div>
                <div class="app_dist_tite_colo">
                    优惠券面额
                </div>
            </div>
            <div class="app_dist_cont">
                <p><b>{$db.money}</b>元</p>
            </div>
        </div>
        <div class="app_dist">
            <div class="app_dist_tite">
                <div class="app_dist_tite_img">
                    <img src="__MOBILE__/img/kf07@2x.png">
                </div>
                <div class="app_dist_tite_colo">
                    不可使用日期
                </div>
            </div>
            <div class="app_dist_cont">
                {$db.notDate}
            </div>
        </div>
        <div class="app_dist">
            <div class="app_dist_tite">
                <div class="app_dist_tite_img">
                    <img src="__MOBILE__/img/kf07@2x.png">
                </div>
                <div class="app_dist_tite_colo">
                    使用说明
                </div>
            </div>
            <div class="app_dist_cont">
                {:html_entity_decode($db['mark'])}
            </div>
        </div>
        <div class="dist_but1 " style="bottom: 60px;position: relative;">
            <input type="hidden" name="cID" value="{$db.id}">
            <input type="hidden" name="type" value="exchange">
            <input type="hidden" name="mysorce" value="{$userMsg.mySorce}">
            <input type="hidden" name="sorce" value="{$db.sorce}">
            <input type="submit" style="border:none;" value="立即兑换" class="ajax-post confirm" data-msg="您确定要花费{$db.sorce}兑换这张优惠券吗?" target-form="myForm" />
            <!--<a href="{:U('Orders/prepareOrder')}">立即兑换</a>-->
        </div>
    </form>
</div>
</html>