<div class="app_center">
    <div class="barto">
        <div class="Electronic">
            <div class="Electronic_left">
                <div class="bordist">
                    <div class="bordist_1">
                        优惠券号：
                    </div>
                    <div class="bordist_1">
                        <b>12345678945612</b>
                    </div>
                </div>
                <div class="bordist">
                    <div class="bordist_1">
                        有效期：
                    </div>
                    <div class="bordist_1">
                        2017年11月8日-2017年11月10日
                    </div>
                </div>
            </div>
            <div class="Electronic_right">
                ¥ <b>100</b>
            </div>
        </div>
        <div class="Electronic">
            <div class="Electronic_left">
                <div class="bordist">
                    <div class="bordist_1">
                        优惠券号：
                    </div>
                    <div class="bordist_1">
                        <b>12345678945612</b>
                    </div>
                </div>
                <div class="bordist">
                    <div class="bordist_1">
                        有效期：
                    </div>
                    <div class="bordist_1">
                        2017年11月8日-2017年11月10日
                    </div>
                </div>
            </div>
            <div class="Electronic_right aczert">
                ¥ <b>50</b>
            </div>
        </div>
    </div>
</div>