<div class="app_center">
    <style>
        .Electronic_right{text-indent: 0%;}
    </style>
    <div class="barto">
        <volist name="list" id="row">
            <div class="Electronic">
                <div class="Electronic_left">
                    <div class="bordist">
                        <div class="bordist_1">
                            优惠券号：
                        </div>
                        <div class="bordist_1">
                            <b>{$row.card}</b>
                        </div>
                    </div>
                    <div class="bordist">
                        <div class="bordist_1">
                            有效期：
                        </div>
                        <div class="bordist_1">
                            {$row.exprie_start} ~ {$row.exprie_end}
                        </div>
                    </div>
                </div>
                <if condition="$row['status'] eq 1">
                    <div class="Electronic_right">
                        ¥ <b>{$row.money}</b>
                    </div>
                    <elseif condition="$row['status'] eq 3" />
                    <div class="Electronic_right aczert_send">
                        ¥ <b>{$row.money}</b>
                    </div>
                    <elseif condition="$row['status'] eq 4" />
                    <div class="Electronic_right aczert_no">
                        ¥ <b>{$row.money}</b>
                    </div>
                    <else />
                    <div class="Electronic_right aczert">
                        ¥ <b>{$row.money}</b>
                    </div>
                </if>
            </div>
        </volist>

    </div>
</div>