<div class="app_center">
    <div class="app_Personal">
        <div class="Personal">
            <div class="app_name">
                <img src="__MOBILE__/img/my02@2x.png" />
                <input type="file" />
            </div>
            <div class="app_name_1">
                丫头
            </div>
            <div class="app_name_1">
                会员等级：<a>V1</a>
            </div>
        </div>
    </div>
    <div class="pers_cont">
        <a href="__URL__/information" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/my06@2x.png"></div>
            <span>基本信息</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
        <a href="__URL__/balance" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/my07@2x.png"></div>
            <span>账户余额</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
        <a href="{:U('Orders/index')}" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/my09@2x.png"></div>
            <span>我的订单</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
        <a href="__URL__/coupon" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/my10@2x.png"></div>
            <span>我的电子卷</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
        <a href="__URL__/couponExchange" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/my10@2x.png"></div>
            <span>电子卷兑换</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
        <a href="__URL__/integral" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/my07@2x.png"></div>
            <span>积分明细</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
        <a href="__URL__/upgrade" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/my11@2x.png"></div>
            <span>积分升级</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
        <a href="__URL__/message" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/xx01@2x.png">
                <if condition="$count.sys gt 0"><div class="biten_span">{$count.sys}</div></if>
            </div>
            <span>系统消息</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
        <a href="__URL__/activity" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/xx02@2x.png">
                <if condition="$count.act gt 0"><div class="biten_span">{$count.act}</div></if>
            </div>
            <span>活动消息</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
    </div>
    <div class="pers_cont1">
        <a href="__URL__/password" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/mm@2x.png"></div>
            <span>修改密码</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
        <a href="__URL__/problem" class="biten">
            <div class="biten_img"><img src="__MOBILE__/img/my12@2x.png"></div>
            <span>常见问题</span>
            <b><img src="__MOBILE__/img/my05@2x.png"></b>
        </a>
    </div>
    <div class="dist_but3 ">
        <a href="{:U('Login/logout')}" class="ajax-get confirm" msg-tite="您是否退出登录？”">退出登录</a>
    </div>
</div>