<div class="app_center">
    <div class="web_form">
        <div class="fr_input">
            <div class="fr_input_left">
                卡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号 ：
            </div>
            <div class="fr_input_right">
                {$db.codes}
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名 ：
            </div>
            <div class="fr_input_right">
                {$db.realname}
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                {$db.cardType}号：
            </div>
            <div class="fr_input_right">
                {$db.idCard}
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                手&nbsp;机&nbsp; 号：
            </div>
            <div class="fr_input_right">
                {$db.mobile}
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                电子邮箱：
            </div>
            <div class="fr_input_right">
                {$db.Email}
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                会员等级：
            </div>
            <div class="fr_input_right">
                <b>{$userMsg.myGrade}</b>
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                会员积分：
            </div>
            <div class="fr_input_right">
                <b>{$userMsg.mySorce}</b>
            </div>
        </div>
    </div>
</div>