<div class="app_center">
    <div class="web_form">
        <div class="fr_input">
            <div class="fr_input_left">
                姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名 ：
            </div>
            <div class="fr_input_right">
                大宝
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                身份证号：
            </div>
            <div class="fr_input_right">
                120106199005261050
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                手&nbsp;机&nbsp; 号：
            </div>
            <div class="fr_input_right">
                13625425369
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                电子邮箱：
            </div>
            <div class="fr_input_right">
                13625425369@qq.com
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                会员等级：
            </div>
            <div class="fr_input_right">
                住客
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                会员积分：
            </div>
            <div class="fr_input_right">
                10000
            </div>
        </div>
    </div>
</div>