<div class="app_center">
    <div class="erpt_fr">
        <div class="erpt_fr_cont">
            <div class="gobet">
                消费名称:XXXXX
            </div>
            <div class="gobet">
                <span class="left gobet_cor_1">-￥1058</span>
                <span class="right gobet_cor_2">+￥10积分</span>
            </div>
            <div class="gobet">
                <span class="left gobet_cor_3">2017-11-20</span>
                <span class="right gobet_cor_4">充值</span>
            </div>
        </div>
        <div class="erpt_fr_cont">
            <div class="gobet">
                消费名称:XXXXX
            </div>
            <div class="gobet">
                <span class="left gobet_cor_1">-￥1058</span>
                <span class="right gobet_cor_2">+￥10积分</span>
            </div>
            <div class="gobet">
                <span class="left gobet_cor_3">2017-11-20</span>
                <span class="right gobet_cor_4">返积分</span>
            </div>
        </div>
        <div class="erpt_fr_cont">
            <div class="gobet">
                消费名称:XXXXX
            </div>
            <div class="gobet">
                <span class="left gobet_cor_1">-￥1058</span>
                <span class="right gobet_cor_2">+￥10积分</span>
            </div>
            <div class="gobet">
                <span class="left gobet_cor_3">2017-11-20</span>
                <span class="right gobet_cor_4">升级</span>
            </div>
        </div>
    </div>
</div>