<div class="app_center">
    <div class="erpt_fr" id="view" url="__URL__/integral">

    </div>
</div>
<!--<div class="gobet">
        消费名称:{{d.type_name}}
    </div>-->
<script type="text/html" id="layout">
    <div class="erpt_fr_cont">
        <div class="gobet">
            {{# if(d.method == 'plus'){ }}
                <span class="right gobet_cor_2" style="width: 100%;">+{{d.sorce}}积分</span>
            {{# }else{ }}
                <span class="right gobet_cor_1" style="width: 100%;">-{{d.sorce}}积分</span>
            {{# } }}
        </div>
        <div class="gobet">
            <span class="left gobet_cor_3">{{d.createTime}}</span>
            <span class="right gobet_cor_4">{{d.type_name}}</span>
        </div>
    </div>
</script>
<script type="text/javascript">
    yin.lists();
</script>