<style type="text/css">
.bbbb {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
</style>
<div class="app_center">
    <div class="app_dister" id="view" url="__URL__/message">
    </div>
</div>
<script type="text/html" id="layout">
    <div class="app_system">
        <a href="__URL__/messageEdit/id/{{d.id}}">{{# if(d.look == 'false'){ }}<span style="margin-bottom: 1.5rem;" class="layui-badge-dot"></span>{{# } }}{{d.title}}</a>
        <p class="bbbb">{{d.body}}</p>
        <span class="right">{{d.createTime}}</span>
    </div>
</script>
<script type="text/javascript">
yin.lists();
</script>