<div class="app_center">
    <div class="app_dister">
        <div class="app_system">
            <a href="__URL__/messageEdit">双12大优惠双12大优惠双12大优惠</a>
            <p>12月12日双12搞活动，活动内容2月12日双12搞活动，活动内容2月活动内容2月12日双12搞活动，活动内容...</p>
            <span class="right">2017-11-20</span>
        </div>
        <div class="app_system">
            <a href="__URL__/messageEdit">双12大优惠双12大优惠双12大优惠</a>
            <p>12月12日双12搞活动，活动内容2月12日双12搞活动，活动内容2月活动内容2月12日双12搞活动，活动内容...</p>
            <span class="right">2017-11-20</span>
        </div>
    </div>
</div>