<div class="app_center">
    <div class="app_dister">
        <div class="app_system_dister">
            <a>双12大优惠双12大优惠双12大优惠</a>
            <p> 还有半天就要休园了，实不相瞒这是小编提前写的推送，现在本该写年终汇报的时候（我是拖延狂，庄主说上飞机前要报告完，才能出去玩），此时，小编抑制不住激动的心情，要把休园公告提前写了，我有充分的理由跟关注了我们一年的粉丝好好说再见！（多一半是关注好几年的唻） 谢谢大家这一年的关注，认真看小编的推送，忍受编的碎碎念，同时感谢大家喜欢云峰山的美景，来住童话树屋和东禅院，谢谢您给我们服务的机会，有大家的支持我们才会走的更稳更远，你们的满意是我们努力的方向！ 不知道上面说的是不是太“狗腿”了，但全是真心话，我的心里话也可以代表大部分云峰山小伙伴的意思，真心希望大家生活美满，精神富足!!! </p>
            <span class="right">2017-11-20</span>
        </div>
    </div>
</div>