<div class="app_center">
    <form action="__URL__/updatePass" class="pass">
        <div class="web_form">
            <div class="fr_input">
                <div class="fr_input_left">
                    原密码 ：
                </div>
                <div class="fr_input_right">
                    <input name="oldpassword" placeholder="请输入原密码" class="inp_1" type="password">
                </div>
            </div>
            <div class="fr_input">
                <div class="fr_input_left">
                    新密码 ：
                </div>
                <div class="fr_input_right">
                    <input name="password" placeholder="请输入新密码" class="inp_1" type="password">
                </div>
            </div>
            <div class="fr_input">
                <div class="fr_input_left">
                    确认密码 ：
                </div>
                <div class="fr_input_right">
                    <input name="repassword" placeholder="请再次输入新密码" class="inp_1" type="password">
                </div>
            </div>
        </div>
        <div class="dist_but2 ">
            <a class="ajax-post confirm" type="submit" target-form="pass" data-msg="您是否确认修改？">确认</a>
        </div>
    </form>
</div>