<div class="app_center">
    <div class="web_form">
        <div class="fr_input">
            <div class="fr_input_left">
                新密码 ：
            </div>
            <div class="fr_input_right">
                <input placeholder="请输入新密码" class="inp_1" type="text">
            </div>
        </div>
        <div class="fr_input">
            <div class="fr_input_left">
                确认密码 ：
            </div>
            <div class="fr_input_right">
                <input placeholder="请再次输入新密码" class="inp_1" type="text">
            </div>
        </div>
    </div>
    <div class="dist_but2 ">
        <a class="spoert" msg-tite="您是否确认？”">确认</a>
    </div>
</div>