<style>
    .biem_ecor img{width: 100%;}
</style>
<div class="app_center">
    <div class="problem_tite">
        常见问题
    </div>
    <div class="problem">
        <volist name="db" id="db" key="k">
             <div class="biem_cont  {:($k == 1)?'biatacve':''}">
            <div class="biem_tite">
                <span>{$db.title}</span>
            </div>
            <div class="biem_ecor">
                {:html_entity_decode($db['content'])}
            </div>
        </div>
        </volist>
    </div>
</div>