<div class="app_center">
    <div class="integral_tite">
        <span>我的积分</span>
        <b>1000</b>
    </div>
    <div class="integral">
        <div class="integral_cont">
            <div class="integral_left">
                <img src="__MOBILE__/img/jf01@2x.png">
            </div>
            <div class="integral_right">
                <div class="integral_right_f">
                    <span>会员晋级</span>
                    <b>500积分</b>
                </div>
                <div class="integral_right_r">
                    <a class="diopr spoert" msg-tite="您是否购买？">购买</a>
                </div>
            </div>
        </div>
        <div class="integral_cont">
            <div class="integral_left">
                <img src="__MOBILE__/img/jf01@2x.png">
            </div>
            <div class="integral_right">
                <div class="integral_right_f">
                    <span>会员晋级</span>
                    <b>500积分</b>
                </div>
                <div class="integral_right_r">
                    <a class="diopr spoert" msg-tite="您是否购买？">购买</a>
                </div>
            </div>
        </div>
        <div class="integral_cont">
            <div class="integral_left">
                <img src="__MOBILE__/img/jf01@2x.png">
            </div>
            <div class="integral_right">
                <div class="integral_right_f">
                    <span>会员晋级</span>
                    <b>500积分</b>
                </div>
                <div class="integral_right_r">
                    <a class="diopr spoert" msg-tite="您是否购买？">购买</a>
                </div>
            </div>
        </div>
        <div class="integral_cont">
            <div class="integral_left">
                <img src="__MOBILE__/img/jf01@2x.png">
            </div>
            <div class="integral_right">
                <div class="integral_right_f">
                    <span>会员晋级</span>
                    <b>500积分</b>
                </div>
                <div class="integral_right_r">
                    <a class="diopr spoert" msg-tite="您是否购买？">购买</a>
                </div>
            </div>
        </div>
        <div class="integral_cont">
            <div class="integral_left">
                <img src="__MOBILE__/img/jf01@2x.png">
            </div>
            <div class="integral_right">
                <div class="integral_right_f">
                    <span>会员晋级</span>
                    <b>500积分</b>
                </div>
                <div class="integral_right_r">
                    <a class="diopr spoert" msg-tite="您是否购买？">购买</a>
                </div>
            </div>
        </div>
    </div>
</div>