<div class="app_center">
    <div class="integral_tite">
        <span>我的积分</span>
        <b>{$userMsg.mySorce}</b>
    </div>
    <div class="integral">
        <volist name="db" id="db">
            <div class="integral_cont">
                <div class="integral_left">
                    <img src="{$db.icon}">
                </div>
                <div class="integral_right">
                    <div class="integral_right_f">
                        <span>{$db.title}</span>
                        <b>需要达到{$db.sorce}积分</b>
                    </div>
                    <!--
                    此功能现在客户不要了改为自动升级
                    <div class="integral_right_r">
                        <a href="__URL__/upGradeBuy?id={$db.id}&my={$userMsg.mySorce}&grade={$db.sorce}" class="diopr ajax-get confirm" msg-tite="您是否购买？">购买</a>
                    </div>
                    -->
                </div>
            </div>
        </volist>
    </div>
</div>