<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <cite>电子券列表</cite>
            </li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <div class="conter">
                    <div class="conter_sait">
                        <form action="__URL__/index" method="post" class="form-hotel">
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="startTime" autocomplete="off" placeholder="选择开始时间" class="layui-input test-item" value="{:I('startTime')}" type="text">
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">至
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="endTime" autocomplete="off" placeholder="选择结束时间" class="layui-input test-item" value="{:I('endTime')}" type="text">
                                </div>
                            </div>
                            <div class="wort" style="width:280px;">
                                <input name="title" lay-verify="title" value="{:I('title')}" autocomplete="off" placeholder="用户姓名/电子券名称" class="layui-input" type="text">
                            </div>
                            <div class="wort">
                                <button type="submit" id="select" class="layui-btn">查找</button>
                            </div>
                        </form>
                    </div>
                    <div class="botg">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>使用时间</th>
                                <th>订单编号</th>
                                <th>电子券名称</th>
                                <th>电子卷金额</th>
                                <th>用户姓名</th>
                                <th>房间名称</th>

                            </tr>
                            </thead>
                            <tbody>
                            <volist name="db" id="row">
                                <tr>
                                    <td>{$row.createTime}</td>
                                    <td>{$row.orderNO}</td>
                                    <td>{$row.title}</td>
                                    <td>{$row.money}</td>
                                    <td>{$row.realname}</td>
                                    <td>{$row.showName}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="feniou">
                            <ul>
                                {$page}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
    })
</script>