<div class="app_center">
    <style>
        .dist_but2 input {
            width: 60%;
            height: 5rem;
            line-height: 5rem;
            display: block;
            margin: 0 auto;
            background: #ff9900;
            text-align: center;
            color: #FFF9EC;
            font-size: 2rem;
            border-radius: 50px;
        }
    </style>
        <div class="web_form">
            <div class="app_dist_tite" style="height:auto;">
                <img src="__MOBILE__/img/paySuccess.png" style="width: 100%;">
            </div>
        </div>
        <div class="dist_but2 ">
            <a href="{:U('Self/index')}"><input type="button" style="border: none;" class="spoert" value="个人中心" /></a>
        </div>
</div>
</html>