<footer style="bottom: 25px;">
     <ul class="am-avg-sm-4">
        <li><a href="{:U('Collection/index')}" class="an_bg_1 <if condition='CONTROLLER_NAME eq Collection'>foter_tp</if>">酒店</a></li> <!-- foter_tp 选中状态class-->
        <li><a href="{:U('Rooms/index')}" class="an_bg_2 <if condition='CONTROLLER_NAME eq Rooms'>foter_tp</if>">房间</a></li>
        <li><a href="{:U('Order/index')}" class="an_bg_3 <if condition='CONTROLLER_NAME eq Order'>foter_tp</if>">订单</a></li>
        <li><a href="{:U('Self/index')}" class="an_bg_4 <if condition='CONTROLLER_NAME eq Self OR CONTROLLER_NAME eq BalanceLog'>foter_tp</if>">个人中心</a></li>
     </ul>
     <div style="width:100%;margin:0 auto; padding:20px 0;">
		<a target="_blank" href="" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;position: fixed;bottom:0px;">
	 		<p style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
	 			<img src="__PUBLIC__/Mobile/img/gongan.png"/>陕公网安备 61090202000028号 陕ICP备17014399号
	 		</p>
 		</a>
 	 </div>
</footer>
<script>
    /*$(function(){
        var userId = "{$uid}";
        var ing_hotel = "{$ing_hotel}";
        if(userId && ing_hotel){
            var url = "{:U('Index/search_send_msg')}";
            window.setInterval(alert_msg, 30000);
            function alert_msg() {
                $.post(url,{userId:userId},function(){

                })
            }
        }
    })*/
</script>