<header data-am-widget="header"class="am-header am-header-default hend">
      <div class="am-header-left am-header-nav am_hend_le">
          <a href="tel:{$AdminMobile}" class="">
                <img src="__MOBILE__/img/dianhua.png">
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="{:U('Index/index')}" class="">
            <img src="{:getSrc($com['head'])}">
          </a>
      </h1>

      <div class="am-header-right am-header-nav am_hend_fe">
          <a href="{:U('Self/index')}" class="">
               <img src="__MOBILE__/img/grzx.png">
          </a>
      </div>
  </header>