<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__MOBILE__/assets/js/jquery-1.8.2.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__MOBILE__/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__MOBILE__/assets/js/amazeui.min.js"></script>
<script src="__MOBILE__/js/js.js"></script>
<script src="__MOBILE__/layer_mobile/layer.js"></script>
<script src="__MOBILE__/js/layui/layui.js"></script>
<script src="__MOBILE__/js/yin.js"></script>