<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <cite>活动消息</cite>
            </li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <div class="conter">
                    <div class="conter_sait">
                        <form action="" method="post" class="form-user">
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="startTime" value="{:I('startTime')}" autocomplete="off" placeholder="开始时间" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">至
                                </div>
                            </div>
                            <div class="wort">
                                <div class="layui-input-inline">
                                    <input name="endTime" value="{:I('endTime')}" id="date" autocomplete="off" placeholder="结束时间" class="layui-input test-item" type="text">
                                </div>
                            </div>
                            <div class="wort" style="width:280px;">
                                <input name="title" value="{:I('title')}" lay-verify="title" autocomplete="off"
                                       placeholder="消息标题" class="layui-input" type="text">
                            </div>
                            <div class="wort">
                                <button id="select" class="layui-btn">查找</button>
                            </div>
                            <div class="wort">
                                <a href="__URL__/newsInsert">
                                    <button type="button" class="layui-btn layui-btn-danger">新增</button>
                                </a>
                            </div>
                        </form>
                    </div>

                    <div class="botg">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>消息标题</th>
                                <th>发布范围</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="db" id="data">
                                <tr>
                                    <td>{$data.title}</td>
                                    <td>{:$data['obj'] == 'all' ? '全部用户' : '指定用户'}</td>
                                    <td>{$data.createTime|date='Y-m-d',###}</td>
                                    <td>
                                        <switch name="data.status">
                                            <case value="1">
                                                <a href="__URL__/set_status?co=SystemNews&id={$data.id}&t=News&sta=1" class="z_coios_1 ajax-get confirm" data-msg='您确定禁用？'>禁用</a></case>
                                            <case value="2">
                                                <a href="__URL__/set_status?co=SystemNews&id={$data.id}&t=News&sta=2" class="z_coios_2 ajax-get confirm" data-msg='您确定启用？'>启用</a>
                                            </case>
                                        </switch>
                                        <a class="z_coios_4" href="__URL__/updateNews/id/{$data.id}">修改</a>
                                        <a class="z_coios_3 confirm ajax-get" href="__URL__/delNews/id/{$data.id}">删除</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="feniou">
                            <ul>
                                {$page}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
    })
</script>