<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-dashboard" aria-hidden="true"></i> <cite>修改活动消息</cite></li>
        </ul>
        <div class="layui-tab-item layui-show">
            <div class="conter">
                <div class="xxkt">
                    <ul>
                        <li class="xxkt_bt">修改活动消息</li>
                    </ul>
                </div>
                <form action="__URL__/updateNews" method="post" class="form-newsInsert">
                    <div class="xxknr">
                        <div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">请选择发布范围：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input type="text" name="obj" value="{$db.obj}" disabled="disabled" />
                                </div>
                            </div>
                            <div class="glylb_szmm mobile">
                                <span class="glylb_szmm_span">请输入要发送客户的电话号码：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input disabled="disabled" value="{$db.mobile}" class="fn-tinput requ" name="mobile"
                                           placeholder="请输入要发送客户的电话号码">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">请输入消息标题：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <input class="fn-tinput requ" name="title" value="{$db.title}"
                                           placeholder="请输入消息标题">
                                </div>
                            </div>
                            <div class="glylb_szmm"><span class="glylb_szmm_span">请输入消息内容：</span>
                                <div class="layui-input-block z_min_left_10">
                                    <textarea name="body" cols="68" rows="5">{$db.body}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gater">
                        <input type="hidden" name="id" value="{$db.id}">
                        <input type="hidden" name="__GO__" value="__URL__/index">
                        <input type="submit" value="确认" class="glylb_an_qd ajax-post" target-form="form-newsInsert"/>
                        <a href="__URL__/index"><input type="button" value="返回" class="glylb_an_fh"/></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

