<script src="/Public/city/distpicker.data.js"></script>
<script src="/Public/city/distpicker.js"></script> 
<script src="/Public/city/main.js"></script> 
      <div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
          <ul class="layui-tab-title">
            <li class="layui-this">
              <i class="fa fa-dashboard" aria-hidden="true"></i>
              <cite>酒店资料修改</cite>
            </li>
          </ul>
          
            <div class="layui-tab-item layui-show">
               <div class="conter">
                                  
                                   <div class="xxkt">
                                       <ul>
                                         <li class="xxkt_bt">酒店资料修改</li>
                                         </ul>
                                    </div>
 
                                  <div class="xxknr">
                                  <form action="__URL__/hotelUpdate" class="form-hotelUpdate" method="post">
                                        <div>                                                                                       
                                             <div class="glylb_szmm">
                                              <span class="glylb_szmm_span">用户名：</span>
                                              <div class="layui-input-block z_min_left_10">
                                                   <input class="fn-tinput"  name="username" value="{$data.0.username}"  >
                                              </div>
                                             </div> 
                                             <div class="glylb_szmm">
                                              <span class="glylb_szmm_span">密码：</span>
                                              <div class="layui-input-block z_min_left_10">
                                                   <input type="password" class="fn-tinput"  name="pwd1" value="" >
                                              </div>
                                             </div> 
                                             <div class="glylb_szmm">
                                              <span class="glylb_szmm_span">确认密码：</span>
                                              <div class="layui-input-block z_min_left_10">
                                                   <input type="password" class="fn-tinput"  name="pwd2" value="" >
                                              </div>
                                             </div> 
                                             <div class="glylb_szmm">
                                              <span class="glylb_szmm_span">酒店名称：</span>
                                              <div class="layui-input-block z_min_left_10">
                                                    <input class="fn-tinput"  name="hotelName" value="{$data.0.hotelName}" placeholder="格林豪泰" >
                                              </div>
                                             </div>
<!--                                                 <input type="hidden" value="{$data.0.province}" name="realprovince"> 
                                                <input type="hidden" value="{$data.0.city}" name="realcity"> 
                                                <input type="hidden" value="{$data.0.area}" name="realarea">  -->

                                              <div class="glylb_szmm"> <span class="glylb_szmm_span">酒店所在地：</span>
                                                <div class="layui-input-block z_min_left_10">
                                                <div  id="distpicker" >
                                                  <select data-province="" name="province" class="fn-tinput requ" style="width: 120px;"></select>
                                                  <select data-city="" name="city" class="fn-tinput requ" style="width: 120px;"></select>
                                                  <select data-district="" name="area" class="fn-tinput requ" style="width: 120px;"></select>
                                                  <input type="hidden" id="real-province" value="{$data.0.province}">
                                                  <input type="hidden" id="real-city" value="{$data.0.city}">
                                                  <input type="hidden" id="real-area" value="{$data.0.area}">
                                                </div>
                                                </div>
                                              </div>  

                                              <div class="glylb_szmm">
                                              <span class="glylb_szmm_span">酒店地址：</span>
                                              <div class="layui-input-block z_min_left_10">
                                                   <input class="fn-tinput"  name="address" value="{$data.0.address}" placeholder="天津市红桥区三号路格林豪泰" >
                                              </div>
                                             </div>
                                              <div class="glylb_szmm">
                                              <span class="glylb_szmm_span">酒店电话：</span>
                                              <div class="layui-input-block z_min_left_10">
                                                    <input class="fn-tinput"  name="mobile" value="{$data.0.mobile}" placeholder="13625425368" >
                                              </div>
                                             </div> 
                                             <div class="glylb_szmm">
                                              <span class="glylb_szmm_span">酒店二维码：</span>
                                              <div class="layui-input-block z_min_left_10">
                                                    <img  width="100" height="100" src="/{$fileName}" />
                                              </div>
                                             </div> 
                                              <div class="glylb_szmm"> <span class="glylb_szmm_span">酒店头像：</span>
                                                <div class="layui-input-block z_min_left_10 uploadOne_parent">
                                                <input type="hidden" name="head" class="uploadOne_data" value="{$data.0.head}" />
                                                  <input type="file" name="file" class="uploadOne" data-width="100" data-height="100" />
                                                  <div id="imgdiv"><img width="100" height="100" src="/Uploads{$data.0.savepath}{$data.0.savename}" class="uploadOne_img" /></div>
                                                </div>
                                              </div> 

                                              <input type="hidden" value="{$data.0.head}" name="realHead"/>
                                              <input type="hidden" value="{$data.0.password}" name="password"/>
                                              <input type="hidden" value="{$data.0.RID}" name="id"/>            
                                   </div>
                                  <div class="gater">
                                          <input type="submit" value="确认" class="glylb_an_qd ajax-post confirm" target-form="form-hotelUpdate"/>
                                          <input type="button" value="取消" onclick="javascript:history.back(-1);return false" class="glylb_an_fh" />
                                  </div> 
                                  </form>
                          </div> 
            </div>
        </div>
      </div>